.section
	footer
		a.logotype(href='/')
			img(src='./images/logo-white.png', alt='logo')
		.container
			.row
				.col-sm-5
					.info
						span © 2017 Blockchain A.S. All rights reserved
							|
							|
							a(href='mailto:info@payyex.com') info@payyex.com
				.col-sm-4.col-sm-offset-3.col-md-3.col-md-offset-4
					ul.links
						li
							a(href='javascript:void(0)') Corporate
						li
							a(href='javascript:void(0)') Terms of Services
						li
							a(href='javascript:void(0)') Limits and Fees
						li
							a(href='javascript:void(0)') API
		a.arrow-up(href='javascript:void(0)')
			include ../../images/icons/arrow-white.svg
		.developer
			a(href='http://www.totemwide.com/', target='_blank', rel='noopener noreferrer') Development Totem Wide

///section footer

// JavaScript
include ../components/_scripts
