.section
	header.header
		video(poster='./images/video-poster.png', playsinline, autoplay, muted, loop)
			source(src='./images/video.mov', type='video/mp4')
		a.main-button.visible-sm.mobile-button(href='javascript:void(0)') Become a Payyex
		nav.navbar.navbar-default
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#menu', aria-expanded='false')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')
						img(src='./images/logo.png', alt='logo')
				#menu.collapse.navbar-collapse
					.visible-sm.visible-xs
						a.close(href='javascript:void(0)')
							img(src='./images/icons/close.png')
						a.menu(href='javascript:void(0)')
							span.icon-bar
							span.icon-bar
							span.icon-bar
					ul.nav.navbar-nav.navbar-right
						li.lang
							a(href='javascript:void(0)') Türkçe
						li
							a(href='javascript:void(0)') Home
						li
							a(href='javascript:void(0)') Service
						li
							a(href='javascript:void(0)') About
						li
							a(href='javascript:void(0)') Sign In
						li
							a.main-button.hidden-sm.hidden-xs(href='javascript:void(0)') Become a Payyex
		.header-info
			.header-title
				span Dünyanın en aktif ticaret üzerinde güvende dijital varlık değişim.
			.header-button
				a.main-button(href='javascript:void(0)') Get Started
		.current-currencies
			.container
				select#currentCurrency.selectpicker
					option(value='USD') USD
					option(value='EUR') EUR
					option(value='UAH') UAH
				.pt-40.pb-40
					#currency-slider-top.owl-carousel.owl-theme
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/BTC.svg', alt='currency')
								.values
									.price-currency
										span.price $4568.56
										span.name BTC/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/ETH.svg', alt='currency')
								.values
									.price-currency
										span.price $262.37
										span.name ETH/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/LTC.svg', alt='currency')
								.values
									.price-currency
										span.price $45.56
										span.name LTC/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/BCN.svg', alt='currency')
								.values
									.price-currency
										span.price $313.57
										span.name BCN/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/XRP.svg', alt='currency')
								.values
									.price-currency
										span.price $0.259
										span.name XRP/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/XMR.svg', alt='currency')
								.values
									.price-currency
										span.price $87.14
										span.name XMR/USD
				.pt-40.pb-40
					#currency-slider-bottom.owl-carousel.owl-theme
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/DASH.svg', alt='currency')
								.values
									.price-currency
										span.price $291.76
										span.name DASH/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/ZEC.svg', alt='currency')
								.values
									.price-currency
										span.price $240.67
										span.name ZEC/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/NEO.svg', alt='currency')
								.values
									.price-currency
										span.price $30.21
										span.name NEO/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/OMG.svg', alt='currency')
								.values
									.price-currency
										span.price $8.11
										span.name OMG/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/ETC.svg', alt='currency')
								.values
									.price-currency
										span.price $11.5
										span.name ETC/USD
						.item
							.rating
								.currency
									.image
										img(src='./images/icons/bitcoins/XEM.svg', alt='currency')
								.values
									.price-currency
										span.price $0.212
										span.name XEM/USD
