@import url(../assets/plugins/bootstrap/dist/css/bootstrap.min.css);
/* Bootstrap Select */
@import url(../assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css);
/* Font Awesome Icons */
@import url(../assets/plugins/font-awesome/css/font-awesome.min.css);
/* Custom Scrollbar */
@import url(../assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.css);
/* Owl carousel */
@import url(../assets/plugins/owl.carousel/dist/assets/owl.carousel.min.css);
/* Owl theme */
@import url(../assets/plugins/owl.carousel/dist/assets/owl.theme.default.min.css);
/* Owl theme */
@import url(../assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css);
/* Customizing styles */
@import url(../assets/plugins/base-sizing.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:100,200,300,400,500,700,900");
/* CSS3 calc() function to perform calculations */
/* Default settings */
body {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  overflow-x: hidden; }

a {
  color: #ffffff;
  transition: 0.2s ease-in; }
  a:hover, a:focus, a:active {
    color: #ffffff;
    text-decoration: none; }
  a.main-button {
    display: inline-block;
    background: #0166ee;
    color: #ffffff;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding: 16px 50px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 121, 220, 0.2); }
    a.main-button:hover {
      background: #f9aa00;
      text-decoration: none; }
    a.main-button:focus {
      background: #357fe3; }

button {
  transition: 0.2s ease-in; }
  button.main-button {
    display: inline-block;
    background: #0166ee;
    border: 0;
    color: #ffffff;
    font-size: 24px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    padding: 32px 98px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 121, 220, 0.2);
    text-transform: uppercase; }
    button.main-button:before {
      content: '';
      background: url("../images/icons/arrow-white.svg") 50% 50% no-repeat;
      display: block;
      position: absolute;
      opacity: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 60px;
      height: 48px;
      right: 100px;
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg);
      transition: 0.2s ease-in; }
    button.main-button:hover {
      background: #f9aa00;
      text-decoration: none;
      padding-left: 60px;
      padding-right: 136px; }
      button.main-button:hover:before {
        right: 40px;
        opacity: 1; }
    button.main-button:focus {
      background: #357fe3; }

b {
  font-family: "Rubik", sans-serif;
  font-weight: 700; }

svg {
  transition: 0.2s ease-in; }
  svg path,
  svg rect {
    transition: 0.2s ease-in; }

.thin {
  font-weight: 100; }

.light {
  font-weight: 200; }

.regular {
  font-weight: 400; }

.medium {
  font-weight: 600; }

.bold {
  font-weight: 700; }

.black {
  font-weight: 900; }

.or-line {
  /* no selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative; }
  .or-line .or {
    position: absolute;
    background: #ffffff;
    color: #ccc;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 12px;
    width: 20px;
    height: 15px;
    display: block; }
  .or-line hr {
    border-color: #ccc; }

.flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 767px) {
    .flex-vertical-center {
      display: block; } }

.form-group .control-label {
  color: #000; }

.form-group .form-control {
  border-color: #dadada;
  box-shadow: none; }
  .form-group .form-control:focus {
    box-shadow: 0 0 6px rgba(131, 197, 80, 0.5); }

.form-group.has-error .control-label {
  color: #ff0000; }

.form-group.has-error .form-control {
  border-color: #ff0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
  .form-group.has-error .form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(222, 22, 19, 0.5); }

.fromTopIn {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.fromBottomIn, .fromTopOut {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease; }

.fromTopOut {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(0, -10px);
  transform: translate(0, -10px);
  opacity: 0; }

.fromBottomIn {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.fromBottomOut, .fromLeftIn {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease; }

.fromBottomOut {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  opacity: 0; }

.fromLeftIn {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.fromLeftOut, .fromRightIn {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease; }

.fromLeftOut {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(-10px, 0);
  transform: translate(-10px, 0);
  opacity: 0; }

.fromRightIn {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.fromRightOut, .scaleUpIn {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease; }

.fromRightOut {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
  opacity: 0; }

.scaleUpIn {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1; }

.scaleDownIn, .scaleUpOut {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease; }

.scaleUpOut {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  opacity: 0; }

.scaleDownIn {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1; }

.scaleDownOut {
  transition: opacity 1s ease,-webkit-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease;
  -webkit-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  opacity: 0; }

.section .main-title {
  position: relative;
  line-height: 0; }
  .section .main-title:before, .section .main-title:after {
    content: '';
    display: table; }
  .section .main-title:after {
    clear: both; }
  .section .main-title .bg {
    font-size: 114px;
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    color: #ebebeb;
    text-transform: lowercase; }
  .section .main-title .title {
    font-size: 46px;
    line-height: 50px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: #000000;
    position: relative;
    z-index: 1;
    bottom: 32px;
    left: 2px;
    float: left; }

.section .main-subtitle {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  line-height: 30px; }

.section {
  overflow: hidden;
  position: relative; }
  .section > div {
    position: relative; }
  .section .about-service {
    padding: 75px 0; }
    .section .about-service > .title {
      font-size: 146px;
      line-height: 140px;
      font-family: "Rubik", sans-serif;
      font-weight: 700;
      color: #ebebeb;
      width: 740px;
      float: left;
      margin-left: 10%; }
    .section .about-service .subtitle {
      font-size: 24px;
      font-family: "Rubik", sans-serif;
      font-weight: 600;
      line-height: 36px;
      color: #000000;
      width: 510px;
      float: left;
      margin-top: -120px;
      margin-bottom: 120px; }
    .section .about-service .block {
      text-align: center;
      padding: 70px 15px;
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      transition: 0.2s ease-in; }
      .section .about-service .block:hover {
        background: #0166ee; }
        .section .about-service .block:hover .icon svg path, .section .about-service .block:hover .icon svg rect {
          fill: #ffffff !important; }
        .section .about-service .block:hover .title {
          color: #ffffff; }
        .section .about-service .block:hover .text {
          color: #ffffff; }
      .section .about-service .block .icon {
        width: 190px;
        margin: 0 auto 85px; }
        .section .about-service .block .icon svg path, .section .about-service .block .icon svg rect {
          transition: 0.2s ease-in; }
      .section .about-service .block .title {
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        font-size: 56px;
        transition: 0.2s ease-in; }
      .section .about-service .block .text {
        margin-top: 55px;
        font-size: 18px;
        line-height: 30px;
        transition: 0.2s ease-in; }
  .section .exchange {
    padding: 300px 0; }
    .section .exchange .tables {
      position: absolute;
      width: 610px;
      height: 592px;
      left: 125px;
      top: 140px; }
      .section .exchange .tables .table1 {
        width: 388px;
        height: 400px;
        position: absolute;
        left: 20px;
        top: 20px;
        background-size: contain;
        background-repeat: no-repeat; }
      .section .exchange .tables .table2 {
        width: 388px;
        height: 400px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 130px 15px 35px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .section .exchange .tables .table2 .table-line {
          height: 25px;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 100% 50%;
          background-size: contain; }
          .section .exchange .tables .table2 .table-line.table-line1 {
            -webkit-animation: moveLineOne 10s infinite;
                    animation: moveLineOne 10s infinite; }
          .section .exchange .tables .table2 .table-line.table-line5 {
            -webkit-animation: moveLineFive 10s infinite;
                    animation: moveLineFive 10s infinite; }
          .section .exchange .tables .table2 .table-line.table-line7 {
            -webkit-animation: moveLineSeven 10s infinite;
                    animation: moveLineSeven 10s infinite; }
      .section .exchange .tables .lines {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain; }
        .section .exchange .tables .lines svg path:nth-child(n) {
          -webkit-animation: colorLinesBlue .5s infinite;
                  animation: colorLinesBlue .5s infinite; }
        .section .exchange .tables .lines svg path:nth-child(2n) {
          -webkit-animation: colorLinesOrange .5s infinite;
                  animation: colorLinesOrange .5s infinite; }
  .section .merchant-tools {
    padding: 400px 0; }
    .section .merchant-tools:before {
      content: '';
      background-image: url("../images/blue-bg.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      width: 40%; }
    .section .merchant-tools.animate .cube .center-icon {
      -webkit-animation: cubeCenterScaling 9s linear forwards 2s;
              animation: cubeCenterScaling 9s linear forwards 2s; }
    .section .merchant-tools.animate .cube .dot.dot1 {
      -webkit-animation: oneDotToCenter 2s linear forwards 8s;
              animation: oneDotToCenter 2s linear forwards 8s; }
    .section .merchant-tools.animate .cube .dot.dot2 {
      -webkit-animation: twoDotToCenter 2s linear forwards 7s;
              animation: twoDotToCenter 2s linear forwards 7s; }
    .section .merchant-tools.animate .cube .dot.dot3 {
      -webkit-animation: threeDotToCenter 2s linear forwards 3s;
              animation: threeDotToCenter 2s linear forwards 3s; }
    .section .merchant-tools.animate .cube .dot.dot4 {
      -webkit-animation: fourDotToCenter 2s linear forwards 2s;
              animation: fourDotToCenter 2s linear forwards 2s; }
    .section .merchant-tools.animate .cube .dot.dot5 {
      -webkit-animation: fiveDotToCenter 2s linear forwards 1s;
              animation: fiveDotToCenter 2s linear forwards 1s; }
    .section .merchant-tools.animate .cube .dot.dot6 {
      -webkit-animation: sixDotToCenter 2s linear forwards;
              animation: sixDotToCenter 2s linear forwards; }
    .section .merchant-tools.animate .cube .dot.dot7 {
      -webkit-animation: sevenDotToCenter 2s linear forwards 4s;
              animation: sevenDotToCenter 2s linear forwards 4s; }
    .section .merchant-tools.animate .cube .dot.dot8 {
      -webkit-animation: eightDotToCenter 2s linear forwards 6s;
              animation: eightDotToCenter 2s linear forwards 6s; }
    .section .merchant-tools.animate .cube .dot.dot9 {
      -webkit-animation: nineDotToCenter 2s linear forwards 5s;
              animation: nineDotToCenter 2s linear forwards 5s; }
    .section .merchant-tools .line-top {
      background-image: url("../images/animations/section2/line-top.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      position: absolute;
      width: 500px;
      height: 320px;
      top: 10px;
      right: 0;
      -webkit-animation: moveCubeLineTop linear 1s infinite;
              animation: moveCubeLineTop linear 1s infinite; }
    .section .merchant-tools .line-bottom {
      background-image: url("../images/animations/section2/line-bottom.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      position: absolute;
      width: 640px;
      height: 370px;
      bottom: 10px;
      right: 0;
      -webkit-animation: moveCubeLineBottom linear 1s infinite;
              animation: moveCubeLineBottom linear 1s infinite; }
    .section .merchant-tools .cube {
      width: 500px;
      height: 500px;
      position: absolute;
      right: 70px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      -webkit-animation: cubeMovement 3s linear infinite;
              animation: cubeMovement 3s linear infinite;
      transition: -webkit-transform 0.3s ease-in;
      transition: transform 0.3s ease-in;
      transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in; }
      .section .merchant-tools .cube .center-icon {
        position: absolute;
        z-index: 1;
        left: 95px;
        right: 0;
        top: -5px;
        bottom: 0;
        margin: auto;
        width: 95px;
        height: 95px;
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        transition: 0.2s ease-in; }
      .section .merchant-tools .cube .dot {
        position: absolute;
        width: 16px;
        height: 16px;
        background: #f9aa00;
        border-radius: 100%;
        transition: 0.2s ease-in; }
        .section .merchant-tools .cube .dot.dot1 {
          top: 205px;
          left: 88px; }
        .section .merchant-tools .cube .dot.dot2 {
          top: 165px;
          left: 156px; }
        .section .merchant-tools .cube .dot.dot3 {
          top: 125px;
          left: 222px; }
        .section .merchant-tools .cube .dot.dot4 {
          top: 85px;
          left: 290px; }
        .section .merchant-tools .cube .dot.dot5 {
          top: 125px;
          left: 357px; }
        .section .merchant-tools .cube .dot.dot6 {
          top: 240px;
          left: 425px; }
        .section .merchant-tools .cube .dot.dot7 {
          top: 285px;
          left: 223px; }
        .section .merchant-tools .cube .dot.dot8 {
          top: 360px;
          left: 223px; }
        .section .merchant-tools .cube .dot.dot9 {
          top: 435px;
          left: 357px; }
  .section .oklink-network {
    padding: 300px 0; }
    .section .oklink-network .circles {
      width: 620px;
      height: 620px;
      border-radius: 100%;
      position: absolute;
      left: 125px;
      top: 140px;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat; }
      .section .oklink-network .circles .circle {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
        .section .oklink-network .circles .circle.circle1 {
          width: 100%;
          -webkit-animation: circle1Rotate 7s linear infinite;
                  animation: circle1Rotate 7s linear infinite; }
        .section .oklink-network .circles .circle.circle2 {
          width: 80%;
          left: -5%;
          -webkit-animation: circle2Rotate 7s linear infinite;
                  animation: circle2Rotate 7s linear infinite; }
        .section .oklink-network .circles .circle.circle3 {
          width: 66%;
          left: -2%;
          -webkit-animation: circle3Rotate 7s linear infinite;
                  animation: circle3Rotate 7s linear infinite; }
      .section .oklink-network .circles .center-icon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 275px;
        background-position: 50% 50%;
        -webkit-animation: moveCircleBlock 4s linear infinite;
                animation: moveCircleBlock 4s linear infinite;
        transition: 0.2s linear; }
  .section .developers-api {
    padding: 400px 0; }
    .section .developers-api .api-icon {
      width: 580px;
      height: 700px;
      position: absolute;
      right: 125px;
      top: 100px; }
      .section .developers-api .api-icon #top-cross {
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
        -webkit-animation: apiCrossRotate 4s linear infinite;
                animation: apiCrossRotate 4s linear infinite; }
      .section .developers-api .api-icon #bottom-cross {
        -webkit-transform-origin: 50%;
                transform-origin: 50%;
        -webkit-animation: apiCrossRotate 4s linear infinite;
                animation: apiCrossRotate 4s linear infinite; }
      .section .developers-api .api-icon #api-line-1 {
        -webkit-animation: apiLine1 4s ease-in forwards 1s;
                animation: apiLine1 4s ease-in forwards 1s; }
      .section .developers-api .api-icon #api-line-2 {
        -webkit-animation: apiLine2 4s ease-in infinite;
                animation: apiLine2 4s ease-in infinite; }
      .section .developers-api .api-icon #api-line-3 {
        -webkit-animation: apiLine3 4s ease-in infinite 2s;
                animation: apiLine3 4s ease-in infinite 2s; }
      .section .developers-api .api-icon #api-line-4 {
        -webkit-animation: apiLine4 4s ease-in infinite;
                animation: apiLine4 4s ease-in infinite; }
      .section .developers-api .api-icon #api-line-5 {
        -webkit-animation: apiLine5 4s ease-in infinite 3s;
                animation: apiLine5 4s ease-in infinite 3s; }
      .section .developers-api .api-icon #api-line-6 {
        -webkit-animation: apiLine6 4s ease-in infinite;
                animation: apiLine6 4s ease-in infinite; }
      .section .developers-api .api-icon #api-line-7 {
        -webkit-animation: apiLine7 4s ease-in infinite;
                animation: apiLine7 4s ease-in infinite; }
      .section .developers-api .api-icon #api-line-8 {
        -webkit-animation: apiLine8 4s ease-in infinite 1s;
                animation: apiLine8 4s ease-in infinite 1s; }
      .section .developers-api .api-icon #api-line-9 {
        -webkit-animation: apiLine9 4s ease-in infinite;
                animation: apiLine9 4s ease-in infinite; }
      .section .developers-api .api-icon #api-line-10 {
        -webkit-animation: apiLine10 4s ease-in infinite;
                animation: apiLine10 4s ease-in infinite; }
  .section .corporate-client {
    padding: 300px 0;
    overflow: hidden; }
    .section .corporate-client:before {
      content: '';
      background-image: url("../images/orange-bg.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      width: 40%;
      transition: 0.2s ease-in; }
    .section .corporate-client.fingerprint-checked-1:before {
      background-image: url("../images/orange-blue-bg.svg"); }
    .section .corporate-client.fingerprint-checked-1:after {
      content: '';
      background: #0080ff;
      opacity: .5;
      height: 1400px;
      width: 1260px;
      display: block;
      position: absolute;
      z-index: -1;
      left: -560px;
      top: -250px;
      border-radius: 100%;
      -webkit-animation: fingerprintBgWave 2s linear forwards;
              animation: fingerprintBgWave 2s linear forwards; }
    .section .corporate-client.fingerprint-checked-1 .fingerprint-svg path {
      stroke: #0080ff;
      -webkit-animation: fingerprintToWhite 2s linear forwards;
              animation: fingerprintToWhite 2s linear forwards; }
    .section .corporate-client.fingerprint-checked-1 .fingerprint .checked {
      -webkit-animation: fingerprintChecked .3s linear forwards 2s;
              animation: fingerprintChecked .3s linear forwards 2s; }
    .section .corporate-client.fingerprint-checked-1 .lines-parallax {
      background-image: url("../images/animations/section5/lines-parallax.svg"); }
    .section .corporate-client.fingerprint-checked-1 .circle-parallax {
      background-image: url("../images/animations/section5/circle-parallax.svg"); }
    .section .corporate-client .fingerprint {
      position: absolute;
      left: 50px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 500px;
      height: 480px; }
      .section .corporate-client .fingerprint .checked {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 250px;
        height: 170px;
        right: 0;
        bottom: 0;
        opacity: 0; }
    .section .corporate-client .circle-parallax {
      width: 68px;
      height: 68px;
      border-radius: 100%;
      position: absolute;
      left: 700px;
      bottom: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../images/animations/section5/circle-parallax-blue.svg");
      transition: 0.2s ease-in; }
    .section .corporate-client .lines-parallax {
      position: absolute;
      width: 150px;
      height: 105px;
      right: 80px;
      top: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url("../images/animations/section5/lines-parallax-blue.svg");
      transition: 0.2s ease-in; }
  .section .become-payyex {
    padding: 220px 0;
    overflow: hidden; }
    .section .become-payyex form {
      position: relative; }
      .section .become-payyex form.rocket-send .rocket-block .rocket {
        opacity: 0;
        -webkit-transform: translate3d(475px, -485px, 0);
        transform: translate3d(475px, -485px, 0); }
      .section .become-payyex form.input-valid-1 .rocket-block .planet-earth {
        -webkit-transform: translate3d(10px, 10px, 0);
        transform: translate3d(10px, 10px, 0); }
      .section .become-payyex form.input-valid-1 .rocket-block .planet-moons {
        -webkit-transform: translate3d(-10px, -10px, 0);
        transform: translate3d(-10px, -10px, 0); }
      .section .become-payyex form.input-valid-1 .rocket-block .planet-saturn {
        -webkit-transform: translate3d(5px, -10px, 0);
        transform: translate3d(5px, -10px, 0); }
      .section .become-payyex form.input-valid-2 .rocket-block .planet-earth {
        -webkit-transform: translate3d(5px, -10px, 0);
        transform: translate3d(5px, -10px, 0); }
      .section .become-payyex form.input-valid-2 .rocket-block .planet-moons {
        -webkit-transform: translate3d(10px, 10px, 0);
        transform: translate3d(10px, 10px, 0); }
      .section .become-payyex form.input-valid-2 .rocket-block .planet-saturn {
        -webkit-transform: translate3d(-10px, -10px, 0);
        transform: translate3d(-10px, -10px, 0); }
      .section .become-payyex form.input-valid-3 .rocket-block .planet-earth {
        -webkit-transform: translate3d(10px, -10px, 0);
        transform: translate3d(10px, -10px, 0); }
      .section .become-payyex form.input-valid-3 .rocket-block .planet-moons {
        -webkit-transform: translate3d(-10px, 5px, 0);
        transform: translate3d(-10px, 5px, 0); }
      .section .become-payyex form.input-valid-3 .rocket-block .planet-saturn {
        -webkit-transform: translate3d(5px, 5px, 0);
        transform: translate3d(5px, 5px, 0); }
      .section .become-payyex form.input-valid-4 .rocket-block .planet-earth {
        -webkit-transform: translate3d(10px, 10px, 0);
        transform: translate3d(10px, 10px, 0); }
      .section .become-payyex form.input-valid-4 .rocket-block .planet-moons {
        -webkit-transform: translate3d(-10px, -10px, 0);
        transform: translate3d(-10px, -10px, 0); }
      .section .become-payyex form.input-valid-4 .rocket-block .planet-saturn {
        -webkit-transform: translate3d(5px, -10px, 0);
        transform: translate3d(5px, -10px, 0); }
      .section .become-payyex form.input-valid-5 .rocket-block .planet-earth {
        -webkit-transform: translate3d(0px, 10px, 0);
        transform: translate3d(0px, 10px, 0); }
      .section .become-payyex form.input-valid-5 .rocket-block .planet-moons {
        -webkit-transform: translate3d(-10px, 5px, 0);
        transform: translate3d(-10px, 5px, 0); }
      .section .become-payyex form.input-valid-5 .rocket-block .planet-saturn {
        -webkit-transform: translate3d(15px, -10px, 0);
        transform: translate3d(15px, -10px, 0); }
      .section .become-payyex form.input-valid-6 .rocket-block .planet-earth {
        -webkit-transform: translate3d(10px, -10px, 0);
        transform: translate3d(10px, -10px, 0); }
      .section .become-payyex form.input-valid-6 .rocket-block .planet-moons {
        -webkit-transform: translate3d(-10px, 15px, 0);
        transform: translate3d(-10px, 15px, 0); }
      .section .become-payyex form.input-valid-6 .rocket-block .planet-saturn {
        -webkit-transform: translate3d(5px, 5px, 0);
        transform: translate3d(5px, 5px, 0); }
    .section .become-payyex .title {
      color: #0079dc;
      font-size: 24px; }
    .section .become-payyex .text {
      color: #0079dc;
      font-size: 18px;
      line-height: 30px;
      height: 150px;
      overflow: hidden; }
    .section .become-payyex .form-wrap {
      margin-top: 50px; }
    .section .become-payyex .form-group.has-error label {
      color: #000000; }
    .section .become-payyex .form-group.has-error input {
      border-bottom-color: #ffb2b2;
      color: #ffb2b2; }
      .section .become-payyex .form-group.has-error input::-webkit-input-placeholder {
        color: #ffb2b2; }
      .section .become-payyex .form-group.has-error input::-moz-placeholder {
        color: #ffb2b2; }
      .section .become-payyex .form-group.has-error input:-ms-input-placeholder {
        color: #ffb2b2; }
      .section .become-payyex .form-group.has-error input:-moz-placeholder {
        color: #ffb2b2; }
    .section .become-payyex .form-group label {
      font-size: 12px;
      font-family: "Rubik", sans-serif;
      font-weight: 700;
      text-transform: uppercase; }
    .section .become-payyex .form-group .input-group {
      width: 100%; }
    .section .become-payyex .form-group input {
      border: 0;
      border-bottom: 1px solid #0079dc;
      color: #0079dc;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 100;
      padding: 0;
      width: 100%;
      box-shadow: none !important; }
      .section .become-payyex .form-group input::-webkit-input-placeholder {
        color: #0079dc; }
      .section .become-payyex .form-group input::-moz-placeholder {
        color: #0079dc; }
      .section .become-payyex .form-group input:-ms-input-placeholder {
        color: #0079dc; }
      .section .become-payyex .form-group input:-moz-placeholder {
        color: #0079dc; }
    .section .become-payyex .form-group .result-icon {
      position: absolute;
      z-index: 25;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto; }
      .section .become-payyex .form-group .result-icon.valid {
        background-image: url("../images/icons/valid.png"); }
      .section .become-payyex .form-group .result-icon.invalid {
        background-image: url("../images/icons/invalid.png"); }
    .section .become-payyex .rocket-block {
      position: absolute;
      top: 100px;
      left: 0;
      width: 530px;
      height: 710px; }
      .section .become-payyex .rocket-block .rocket {
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 100px;
        top: 60px;
        right: 42px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 3s ease-in; }
      .section .become-payyex .rocket-block .rocket-way {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain; }
      .section .become-payyex .rocket-block .stars {
        position: absolute;
        width: 230px;
        left: 160px;
        top: -50px;
        right: 0;
        margin: auto;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain; }
      .section .become-payyex .rocket-block .planet-earth {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 180px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.2s ease-in; }
      .section .become-payyex .rocket-block .planet-moons {
        position: absolute;
        width: 80px;
        right: 120px;
        top: 320px;
        height: 70px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.2s ease-in; }
      .section .become-payyex .rocket-block .planet-saturn {
        position: absolute;
        width: 45px;
        height: 35px;
        left: 220px;
        top: 130px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        transition: 0.2s ease-in; }

.product-info {
  position: absolute !important;
  z-index: 100;
  right: 0;
  left: 0;
  width: 100%;
  margin: auto;
  top: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease; }
  .product-info.open {
    opacity: 1;
    visibility: visible; }
  .product-info.left .wrapper {
    float: left; }
  .product-info.right .wrapper {
    float: right; }
  .product-info .bg {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  .product-info .wrapper {
    background: #0166ee;
    width: 40%;
    height: 100%;
    float: right;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    transition: 0.2s ease; }
    @media screen and (max-width: 991px) {
      .product-info .wrapper {
        width: 60%; } }
    @media screen and (max-width: 767px) {
      .product-info .wrapper {
        width: 100%; } }
    .product-info .wrapper .close {
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
      top: -50px;
      right: -30px;
      transition: none;
      display: block;
      background: #1786df;
      width: 60px;
      height: 60px;
      opacity: 1; }
      .product-info .wrapper .close .line {
        position: relative;
        width: 24px;
        height: 2px;
        margin: 4px auto;
        pointer-events: none;
        background: #fff; }
        .product-info .wrapper .close .line:first-child {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 25px; }
        .product-info .wrapper .close .line:nth-child(2) {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 19px; }
  .product-info .image {
    display: none; }
    .product-info .image img {
      width: 100%; }
  .product-info .info {
    color: #fff;
    padding: 50px 30px 20px 30px;
    max-height: 500px;
    overflow: hidden;
    top: 0; }
    .product-info .info .mCustomScrollBox,
    .product-info .info .mCSB_container {
      overflow: visible; }
    .product-info .info h2 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 20px; }
    .product-info .info p {
      line-height: 30px;
      font-size: 16px; }

/*!
 * # Semantic UI 2.2.12 - Sticky
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */
/*******************************
            Sticky
*******************************/
.ui.sticky {
  position: static;
  transition: none;
  z-index: 800; }

/*******************************
            States
*******************************/
/* Bound */
.ui.sticky.bound {
  position: absolute;
  left: auto;
  right: auto; }

/* Fixed */
.ui.sticky.fixed {
  position: fixed;
  left: auto;
  right: auto; }

/* Bound/Fixed Position */
.ui.sticky.bound.top,
.ui.sticky.fixed.top {
  top: 0px;
  bottom: auto; }

.ui.sticky.bound.bottom,
.ui.sticky.fixed.bottom {
  top: auto;
  bottom: 0px; }

/*******************************
            Types
*******************************/
.ui.native.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky; }

/*******************************
         Theme Overrides
*******************************/
/*******************************
         Site Overrides
*******************************/
header,
.header {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-height: 1040px; }
  header video,
  .header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background: url("../images/video-poster.png") no-repeat;
    background-size: cover; }
  header .navbar,
  .header .navbar {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 40px 0; }
    header .navbar .navbar-brand,
    .header .navbar .navbar-brand {
      padding: 0;
      width: 235px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      header .navbar .navbar-brand img,
      .header .navbar .navbar-brand img {
        width: 100%; }
    header .navbar .navbar-nav li a,
    .header .navbar .navbar-nav li a {
      color: #ffffff;
      background: 0 0;
      font-size: 18px;
      font-family: "Rubik", sans-serif;
      font-weight: 300;
      padding: 15px 12px; }
      header .navbar .navbar-nav li a:hover,
      .header .navbar .navbar-nav li a:hover {
        color: #f9aa00;
        background: 0 0;
        text-decoration: underline; }
      header .navbar .navbar-nav li a.main-button,
      .header .navbar .navbar-nav li a.main-button {
        background: #0166ee;
        color: #ffffff;
        font-family: "Rubik", sans-serif;
        font-weight: 700;
        border-radius: 3px;
        padding: 15px 25px;
        margin-left: 12px;
        position: relative; }
        header .navbar .navbar-nav li a.main-button:before,
        .header .navbar .navbar-nav li a.main-button:before {
          content: '';
          width: 10px;
          height: 15px;
          background: url("../images/icons/arrow-white.svg") 50% 50% no-repeat;
          display: block;
          position: absolute;
          right: 40px;
          top: 0;
          bottom: 0;
          margin: auto;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          transition: 0.2s ease-in; }
        header .navbar .navbar-nav li a.main-button:hover,
        .header .navbar .navbar-nav li a.main-button:hover {
          background: #f9aa00;
          padding-left: 15px;
          padding-right: 35px;
          text-decoration: none; }
          header .navbar .navbar-nav li a.main-button:hover:before,
          .header .navbar .navbar-nav li a.main-button:hover:before {
            right: 10px;
            opacity: 1; }
        header .navbar .navbar-nav li a.main-button:focus,
        .header .navbar .navbar-nav li a.main-button:focus {
          background: #357fe3; }
  header .header-info,
  .header .header-info {
    height: calc(100% - 224px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  header .header-title,
  .header .header-title {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    line-height: 70px;
    width: 65%;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 50px; }
  header .header-button,
  .header .header-button {
    text-align: center;
    padding: 34px 0; }
    header .header-button .main-button,
    .header .header-button .main-button {
      padding: 38px 98px;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 24px; }
      header .header-button .main-button:before,
      .header .header-button .main-button:before {
        content: '';
        background: url("../images/icons/arrow-white.svg") 50% 50% no-repeat;
        display: block;
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 60px;
        height: 48px;
        right: 100px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        transition: 0.2s ease-in; }
      header .header-button .main-button:hover,
      .header .header-button .main-button:hover {
        padding-left: 60px;
        padding-right: 136px; }
        header .header-button .main-button:hover:before,
        .header .header-button .main-button:hover:before {
          right: 40px;
          opacity: 1; }
  header .current-currencies,
  .header .current-currencies {
    background: #0166ee;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%; }
    header .current-currencies:before,
    .header .current-currencies:before {
      content: '';
      height: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      background-image: linear-gradient(to right, #f9aa00 40%, rgba(255, 255, 255, 0) 0%);
      background-position: bottom;
      background-size: 24px 2px;
      background-repeat: repeat-x; }
    header .current-currencies .container,
    .header .current-currencies .container {
      position: relative; }
    header .current-currencies .rating:before, header .current-currencies .rating:after,
    .header .current-currencies .rating:before,
    .header .current-currencies .rating:after {
      content: '';
      display: table; }
    header .current-currencies .rating:after,
    .header .current-currencies .rating:after {
      clear: both; }
    header .current-currencies .rating .currency,
    .header .current-currencies .rating .currency {
      width: 24px;
      float: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 32px; }
      header .current-currencies .rating .currency .image,
      .header .current-currencies .rating .currency .image {
        width: 100%; }
        header .current-currencies .rating .currency .image img,
        .header .current-currencies .rating .currency .image img {
          width: 80%;
          margin: auto; }
    header .current-currencies .rating .values,
    .header .current-currencies .rating .values {
      float: left;
      margin-left: 10px;
      max-height: 32px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      header .current-currencies .rating .values .price-currency,
      .header .current-currencies .rating .values .price-currency {
        color: #ffffff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        header .current-currencies .rating .values .price-currency .price,
        .header .current-currencies .rating .values .price-currency .price {
          font-size: 18px; }
        header .current-currencies .rating .values .price-currency .name,
        .header .current-currencies .rating .values .price-currency .name {
          font-size: 10px;
          font-family: "Rubik", sans-serif;
          font-weight: 600; }
    header .current-currencies .bootstrap-select,
    .header .current-currencies .bootstrap-select {
      z-index: 10;
      position: absolute;
      left: 15px;
      top: -17px;
      height: 35px;
      width: 68px !important; }
      header .current-currencies .bootstrap-select button,
      .header .current-currencies .bootstrap-select button {
        background: #f9aa00;
        border: 0;
        font-family: "Rubik", sans-serif;
        font-weight: 600;
        height: 100%;
        line-height: 26px; }
        header .current-currencies .bootstrap-select button .caret,
        .header .current-currencies .bootstrap-select button .caret {
          margin-top: -1px; }
        header .current-currencies .bootstrap-select button:hover,
        .header .current-currencies .bootstrap-select button:hover {
          background: #ffc447; }
        header .current-currencies .bootstrap-select button:focus,
        .header .current-currencies .bootstrap-select button:focus {
          background: #ffc447;
          outline: 0 !important; }
      header .current-currencies .bootstrap-select .dropdown-menu,
      .header .current-currencies .bootstrap-select .dropdown-menu {
        border: 0; }
        header .current-currencies .bootstrap-select .dropdown-menu > li > a,
        .header .current-currencies .bootstrap-select .dropdown-menu > li > a {
          padding: 3px 19px; }

@media screen and (max-width: 991px) {
  header,
  .header {
    height: 1180px;
    overflow: hidden; }
    header .navbar-header,
    .header .navbar-header {
      float: none; }
    header .navbar-left,
    header .navbar-right,
    .header .navbar-left,
    .header .navbar-right {
      float: none !important; }
    header .navbar-toggle,
    .header .navbar-toggle {
      display: block; }
    header .navbar-collapse,
    .header .navbar-collapse {
      border: 0;
      box-shadow: none;
      position: fixed;
      z-index: 100;
      background: #0166ee;
      width: 100%;
      left: 0;
      top: 0;
      padding-top: 75px;
      padding-bottom: 210px;
      padding-left: 115px; }
      header .navbar-collapse:before,
      .header .navbar-collapse:before {
        content: '';
        background-image: url("../images/mobile-menu-part.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        position: absolute;
        bottom: -109px;
        width: 100%;
        height: 110px;
        left: 0; }
      header .navbar-collapse.collapse,
      .header .navbar-collapse.collapse {
        display: none !important;
        height: 780px !important; }
    header .navbar-nav,
    .header .navbar-nav {
      float: none !important;
      margin-top: 7.5px; }
      header .navbar-nav > li,
      .header .navbar-nav > li {
        float: none; }
        header .navbar-nav > li > a,
        .header .navbar-nav > li > a {
          padding-top: 10px;
          padding-bottom: 10px; }
    header .collapse.in,
    .header .collapse.in {
      display: block !important; }
    header .navbar-toggle,
    .header .navbar-toggle {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      background: #0166ee;
      border: 0;
      margin-top: -120px;
      margin-right: -120px;
      width: 240px;
      height: 240px;
      border-radius: 100%;
      transition: 0.2s ease-in; }
      header .navbar-toggle:hover,
      .header .navbar-toggle:hover {
        background: #f9aa00; }
        header .navbar-toggle:hover .icon-bar:before,
        .header .navbar-toggle:hover .icon-bar:before {
          background: #f9aa00; }
      header .navbar-toggle .icon-bar,
      .header .navbar-toggle .icon-bar {
        background: #ffffff;
        position: absolute;
        top: 0;
        bottom: -85px;
        left: -95px;
        right: 0;
        margin: auto;
        width: 32px;
        height: 6px;
        border-radius: 100px; }
        header .navbar-toggle .icon-bar:nth-child(2),
        .header .navbar-toggle .icon-bar:nth-child(2) {
          bottom: -105px; }
        header .navbar-toggle .icon-bar:last-child,
        .header .navbar-toggle .icon-bar:last-child {
          bottom: -125px; }
        header .navbar-toggle .icon-bar:before,
        .header .navbar-toggle .icon-bar:before {
          content: '';
          width: 28px;
          height: 2px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background: #0166ee;
          border-radius: 100px;
          transition: 0.2s ease-in; }
    header .main-button.mobile-button,
    .header .main-button.mobile-button {
      position: absolute;
      right: 150px;
      top: 40px;
      padding: 13px 28px; }
      header .main-button.mobile-button:hover,
      .header .main-button.mobile-button:hover {
        background: #f9aa00; }
      header .main-button.mobile-button:focus,
      .header .main-button.mobile-button:focus {
        background: #357fe3;
        outline: 0; }
    header .navbar-collapse .nav li,
    .header .navbar-collapse .nav li {
      margin-bottom: 40px; }
      header .navbar-collapse .nav li:last-child,
      .header .navbar-collapse .nav li:last-child {
        margin-top: 100px; }
      header .navbar-collapse .nav li.lang,
      .header .navbar-collapse .nav li.lang {
        margin-bottom: 100px; }
        header .navbar-collapse .nav li.lang a,
        .header .navbar-collapse .nav li.lang a {
          font-size: 36px; }
      header .navbar-collapse .nav li a,
      .header .navbar-collapse .nav li a {
        font-size: 60px; }
    header .navbar-collapse .close,
    .header .navbar-collapse .close {
      position: absolute;
      top: 22px;
      right: 22px;
      opacity: 1; }
    header .navbar-collapse .menu,
    .header .navbar-collapse .menu {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: block;
      width: 76px;
      height: 65px; }
      header .navbar-collapse .menu .icon-bar,
      .header .navbar-collapse .menu .icon-bar {
        background: #f9aa00;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 76px;
        height: 15px;
        border-radius: 100px; }
        header .navbar-collapse .menu .icon-bar:nth-child(2),
        .header .navbar-collapse .menu .icon-bar:nth-child(2) {
          margin-top: 25px; }
        header .navbar-collapse .menu .icon-bar:last-child,
        .header .navbar-collapse .menu .icon-bar:last-child {
          margin-top: 50px; }
    header .current-currencies:before,
    .header .current-currencies:before {
      left: 0;
      right: 0;
      width: 85%;
      margin: auto; }
    header .current-currencies .rating,
    .header .current-currencies .rating {
      padding-left: 35px; }
    header .current-currencies .owl-nav,
    .header .current-currencies .owl-nav {
      position: absolute;
      top: 150px;
      bottom: 0;
      left: -25px;
      right: 0;
      margin: auto;
      height: 304px;
      width: calc(100% + 50px); }
      header .current-currencies .owl-nav .owl-prev,
      header .current-currencies .owl-nav .owl-next,
      .header .current-currencies .owl-nav .owl-prev,
      .header .current-currencies .owl-nav .owl-next {
        background: 0;
        position: absolute;
        height: 100%;
        margin: 0;
        padding: 0 28px;
        background: #357fe3; }
        header .current-currencies .owl-nav .owl-prev img,
        header .current-currencies .owl-nav .owl-next img,
        .header .current-currencies .owl-nav .owl-prev img,
        .header .current-currencies .owl-nav .owl-next img {
          display: block;
          width: 22px;
          position: absolute;
          z-index: 1;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }
      header .current-currencies .owl-nav .owl-prev,
      .header .current-currencies .owl-nav .owl-prev {
        left: 0; }
      header .current-currencies .owl-nav .owl-next,
      .header .current-currencies .owl-nav .owl-next {
        right: 0; } }

footer,
.footer {
  padding: 60px 0 75px;
  background: #0166ee; }
  footer .logotype,
  .footer .logotype {
    display: block;
    width: 315px;
    margin: 0 auto 80px; }
    footer .logotype img,
    .footer .logotype img {
      display: block;
      width: 100%; }
  footer .info,
  .footer .info {
    font-size: 20px;
    line-height: 40px;
    color: #ffffff; }
    footer .info a,
    .footer .info a {
      text-decoration: underline; }
  footer .links,
  .footer .links {
    list-style: none;
    padding-left: 0; }
    footer .links li a,
    .footer .links li a {
      font-size: 20px;
      line-height: 40px; }
      footer .links li a:hover,
      .footer .links li a:hover {
        text-decoration: underline; }
  footer .arrow-up,
  .footer .arrow-up {
    display: block;
    width: 95px;
    margin: 20px auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
    footer .arrow-up svg,
    .footer .arrow-up svg {
      width: 100%; }
    footer .arrow-up:hover svg,
    .footer .arrow-up:hover svg {
      -webkit-transform: translateY(20px);
      transform: translateY(20px); }
      footer .arrow-up:hover svg path,
      .footer .arrow-up:hover svg path {
        fill: #f9aa00; }
  footer .developer,
  .footer .developer {
    font-size: 14px;
    opacity: .25;
    color: #ffffff;
    text-align: center; }

@-webkit-keyframes colorLinesBlue {
  0% {
    fill: #f9aa00; }
  100% {
    fill: #0166ee; } }

@keyframes colorLinesBlue {
  0% {
    fill: #f9aa00; }
  100% {
    fill: #0166ee; } }

@-webkit-keyframes colorLinesOrange {
  0% {
    fill: #0166ee; }
  100% {
    fill: #f9aa00; } }

@keyframes colorLinesOrange {
  0% {
    fill: #0166ee; }
  100% {
    fill: #f9aa00; } }

@-webkit-keyframes moveLineOne {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  75% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes moveLineOne {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px); }
  75% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes moveLineFive {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  75% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes moveLineFive {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  75% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes moveLineSeven {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes moveLineSeven {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  25% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  75% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes moveCubeLineTop {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -40px -23px; } }

@keyframes moveCubeLineTop {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -40px -23px; } }

@-webkit-keyframes moveCubeLineBottom {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -40px -22px; } }

@keyframes moveCubeLineBottom {
  0% {
    background-position: 0 0; }
  100% {
    background-position: -40px -22px; } }

@-webkit-keyframes cubeMovement {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes cubeMovement {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(15px);
    transform: translateY(15px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes oneDotToCenter {
  0% {
    top: 205px;
    left: 88px; }
  33% {
    top: 240px;
    left: 155px; }
  66% {
    top: 205px;
    left: 222px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes oneDotToCenter {
  0% {
    top: 205px;
    left: 88px; }
  33% {
    top: 240px;
    left: 155px; }
  66% {
    top: 205px;
    left: 222px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes twoDotToCenter {
  0% {
    top: 165px;
    left: 156px; }
  50% {
    top: 205px;
    left: 222px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes twoDotToCenter {
  0% {
    top: 165px;
    left: 156px; }
  50% {
    top: 205px;
    left: 222px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes threeDotToCenter {
  0% {
    top: 125px;
    left: 222px; }
  50% {
    top: 205px;
    left: 222px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes threeDotToCenter {
  0% {
    top: 125px;
    left: 222px; }
  50% {
    top: 205px;
    left: 222px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes fourDotToCenter {
  0% {
    top: 85px;
    left: 290px; }
  33% {
    top: 167px;
    left: 290px; }
  66% {
    top: 204px;
    left: 357px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes fourDotToCenter {
  0% {
    top: 85px;
    left: 290px; }
  33% {
    top: 167px;
    left: 290px; }
  66% {
    top: 204px;
    left: 357px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes fiveDotToCenter {
  0% {
    top: 125px;
    left: 357px; }
  50% {
    top: 205px;
    left: 357px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes fiveDotToCenter {
  0% {
    top: 125px;
    left: 357px; }
  50% {
    top: 205px;
    left: 357px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes sixDotToCenter {
  0% {
    top: 240px;
    left: 425px; }
  50% {
    top: 205px;
    left: 357px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes sixDotToCenter {
  0% {
    top: 240px;
    left: 425px; }
  50% {
    top: 205px;
    left: 357px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes sevenDotToCenter {
  0% {
    top: 285px;
    left: 223px; }
  50% {
    top: 322px;
    left: 290px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes sevenDotToCenter {
  0% {
    top: 285px;
    left: 223px; }
  50% {
    top: 322px;
    left: 290px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes eightDotToCenter {
  0% {
    top: 360px;
    left: 223px; }
  50% {
    top: 322px;
    left: 290px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes eightDotToCenter {
  0% {
    top: 360px;
    left: 223px; }
  50% {
    top: 322px;
    left: 290px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes nineDotToCenter {
  0% {
    top: 435px;
    left: 357px; }
  33% {
    top: 360px;
    left: 357px; }
  66% {
    top: 322px;
    left: 290px; }
  100% {
    top: 240px;
    left: 290px; } }

@keyframes nineDotToCenter {
  0% {
    top: 435px;
    left: 357px; }
  33% {
    top: 360px;
    left: 357px; }
  66% {
    top: 322px;
    left: 290px; }
  100% {
    top: 240px;
    left: 290px; } }

@-webkit-keyframes cubeCenterScaling {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@keyframes cubeCenterScaling {
  0% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6); }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); } }

@-webkit-keyframes moveCircleBlock {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes moveCircleBlock {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  75% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes circle1Rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes circle1Rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes circle2Rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes circle2Rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes circle3Rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes circle3Rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes apiCrossRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes apiCrossRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes apiLine1 {
  0% {
    fill: #000cff; }
  50% {
    fill: #ffffff; }
  100% {
    fill: #000cff; } }

@keyframes apiLine1 {
  0% {
    fill: #000cff; }
  50% {
    fill: #ffffff; }
  100% {
    fill: #000cff; } }

@-webkit-keyframes apiLine2 {
  0% {
    fill: #fff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #fff; } }

@keyframes apiLine2 {
  0% {
    fill: #fff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #fff; } }

@-webkit-keyframes apiLine3 {
  0% {
    fill: #f9aa00; }
  50% {
    fill: #000cff; }
  100% {
    fill: #f9aa00; } }

@keyframes apiLine3 {
  0% {
    fill: #f9aa00; }
  50% {
    fill: #000cff; }
  100% {
    fill: #f9aa00; } }

@-webkit-keyframes apiLine4 {
  0% {
    fill: #f9aa00; }
  50% {
    fill: #000cff; }
  100% {
    fill: #f9aa00; } }

@keyframes apiLine4 {
  0% {
    fill: #f9aa00; }
  50% {
    fill: #000cff; }
  100% {
    fill: #f9aa00; } }

@-webkit-keyframes apiLine5 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@keyframes apiLine5 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@-webkit-keyframes apiLine6 {
  0% {
    fill: #0166f1; }
  50% {
    fill: #ffffff; }
  100% {
    fill: #0166f1; } }

@keyframes apiLine6 {
  0% {
    fill: #0166f1; }
  50% {
    fill: #ffffff; }
  100% {
    fill: #0166f1; } }

@-webkit-keyframes apiLine7 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@keyframes apiLine7 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@-webkit-keyframes apiLine8 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@keyframes apiLine8 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@-webkit-keyframes apiLine9 {
  0% {
    fill: #f9aa00; }
  50% {
    fill: #000cff; }
  100% {
    fill: #f9aa00; } }

@keyframes apiLine9 {
  0% {
    fill: #f9aa00; }
  50% {
    fill: #000cff; }
  100% {
    fill: #f9aa00; } }

@-webkit-keyframes apiLine10 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@keyframes apiLine10 {
  0% {
    fill: #ffffff; }
  50% {
    fill: #f9aa00; }
  100% {
    fill: #ffffff; } }

@-webkit-keyframes fingerprintToWhite {
  0% {
    stroke: #0080ff; }
  100% {
    stroke: #ffffff; } }

@keyframes fingerprintToWhite {
  0% {
    stroke: #0080ff; }
  100% {
    stroke: #ffffff; } }

@-webkit-keyframes fingerprintBgWave {
  0% {
    opacity: 1;
    left: -560px; }
  100% {
    opacity: 0;
    left: -460px; } }

@keyframes fingerprintBgWave {
  0% {
    opacity: 1;
    left: -560px; }
  100% {
    opacity: 0;
    left: -460px; } }

@-webkit-keyframes fingerprintChecked {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fingerprintChecked {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* CSS3 calc() function to perform calculations */
@media screen and (min-width: 1681px) {
  .section {
    min-height: 1080px; }
    .section .exchange {
      padding: 384px 0; }
      .section .exchange .tables {
        left: 195px; }
    .section .oklink-network {
      padding: 382px 0; }
      .section .oklink-network .circles {
        left: 195px;
        top: 230px; }
    .section .merchant-tools .line-top {
      width: 29%; }
    .section .merchant-tools .line-bottom {
      width: 39%;
      bottom: 30px;
      height: 440px; }
    .section .developers-api {
      padding: 412px 0; }
      .section .developers-api .api-icon {
        right: 235px; }
    .section .corporate-client {
      padding: 387px 0; }
      .section .corporate-client.fingerprint-checked-1:after {
        height: 1600px; }
      .section .corporate-client .fingerprint {
        left: 90px; }
      .section .corporate-client .circle-parallax {
        left: 840px; }
    .section .cube {
      right: 110px;
      top: -40px; }
    .section .become-payyex {
      padding: 245px 0; }
  footer {
    padding: 155px 0 75px; } }

@media screen and (min-width: 1400px) and (max-width: 1680px) {
  .section .exchange {
    padding: 384px 0; }
    .section .exchange .tables {
      left: 35px; }
  .section .merchant-tools .line-top {
    width: 29%;
    top: 30px; }
  .section .merchant-tools .line-bottom {
    width: 38%;
    bottom: 20px; }
  .section .oklink-network {
    padding: 382px 0; }
    .section .oklink-network .circles {
      left: 15px; }
  .section .corporate-client {
    padding: 387px 0; }
    .section .corporate-client .fingerprint {
      left: 50px;
      width: 400px;
      height: 410px; }
  .section .developers-api {
    padding: 412px 0; }
  .section .become-payyex {
    padding: 245px 0; }
    .section .become-payyex .rocket-block {
      left: -150px; } }

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .section .exchange .tables {
    left: -95px;
    top: 110px; }
  .section .merchant-tools:before {
    width: 46%; }
  .section .merchant-tools .line-top {
    width: 33%;
    top: 70px; }
  .section .merchant-tools .line-bottom {
    width: 44%; }
  .section .oklink-network .circles {
    left: -95px;
    top: 150px; }
  .section .developers-api .api-icon {
    right: 85px; }
  .section .corporate-client:before {
    width: 46%; }
  .section .corporate-client .fingerprint {
    width: 450px;
    height: 450px; }
  .section .become-payyex .rocket-block {
    left: -150px; } }

@media screen and (max-width: 1199px) {
  .section .main-title .bg {
    font-size: 90px; }
  .section .main-title .title {
    bottom: 25px; }
  .section .about-service {
    background: #e8f5ff; }
    .section .about-service > .title {
      color: #0166f1;
      opacity: .10;
      margin-left: 30px; }
    .section .about-service .subtitle {
      width: 100%;
      margin-top: -90px;
      margin-bottom: 50px; }
    .section .about-service .block {
      padding: 50px;
      margin-bottom: 15px; }
      .section .about-service .block:before, .section .about-service .block:after {
        content: '';
        display: table; }
      .section .about-service .block:after {
        clear: both; }
      .section .about-service .block:hover .icon:before {
        background-image: url("../images/icons/cirlce-orange.png"); }
      .section .about-service .block .icon {
        float: left;
        margin-top: 20px;
        margin-right: 150px;
        margin-bottom: 0;
        position: relative; }
        .section .about-service .block .icon:before {
          content: '';
          background-image: url("../images/icons/circle-blue.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          width: 30px;
          height: 30px;
          position: absolute;
          right: -95px;
          top: 5px;
          transition: 0.2s ease-in; }
      .section .about-service .block .title {
        float: left; }
      .section .about-service .block .text {
        float: left;
        width: 360px;
        text-align: left;
        margin-top: 25px; }
  .section .exchange .tables {
    left: -175px; }
  .section .merchant-tools:before {
    width: 46%; }
  .section .merchant-tools .cube {
    width: 430px;
    height: 430px;
    right: 10px; }
    .section .merchant-tools .cube .dot {
      display: none; }
    .section .merchant-tools .cube .center-icon {
      left: 78px; }
  .section .merchant-tools .line-top {
    display: none; }
  .section .merchant-tools .line-bottom {
    display: none; }
  .section .oklink-network .circles {
    left: -225px; }
  .section .developers-api .api-icon {
    right: -115px; }
  .section .corporate-client:before {
    width: 46%; }
  .section .corporate-client .fingerprint {
    left: 30px;
    width: 350px;
    height: 350px; }
  .section .corporate-client .fingerprint-checked-1:after {
    height: 1100px;
    width: 900px; }
  .section .become-payyex .title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px; }
  .section .become-payyex .rocket-block {
    display: none; } }

@media screen and (max-width: 991px) {
  header,
  .header {
    min-height: initial; }
    header .current-currencies .owl-nav,
    .header .current-currencies .owl-nav {
      top: 113px;
      height: 225px; }
  .section .main-title .bg {
    font-size: 84px; }
  .section .about-service .block {
    padding-right: 15px; }
    .section .about-service .block .icon {
      margin-right: 110px; }
      .section .about-service .block .icon:before {
        right: -75px; }
    .section .about-service .block .text {
      width: 355px; }
  .section .exchange .tables {
    left: -305px; }
  .section .merchant-tools .cube {
    width: 340px;
    height: 340px;
    right: 5px; }
    .section .merchant-tools .cube .center-icon {
      width: 55px;
      height: 55px;
      left: 65px; }
  .section .oklink-network .circles {
    left: -285px; }
  .section .developers-api .api-icon {
    right: -185px; }
  .section .corporate-client:after {
    display: none !important; }
  .section .corporate-client .fingerprint {
    left: -30px;
    width: 320px;
    height: 320px; }
  .section .corporate-client .circle-parallax {
    left: 360px;
    bottom: 60px; } }

@media screen and (max-width: 767px) {
  header,
  .header {
    height: 1000px !important; }
    header .navbar-collapse,
    .header .navbar-collapse {
      padding: 0;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      overflow-y: visible; }
      header .navbar-collapse:before,
      .header .navbar-collapse:before {
        z-index: 3;
        bottom: -20px;
        height: 100px; }
      header .navbar-collapse.collapse,
      .header .navbar-collapse.collapse {
        height: 600px !important; }
      header .navbar-collapse .menu,
      .header .navbar-collapse .menu {
        z-index: 4;
        bottom: 30px; }
      header .navbar-collapse .nav,
      .header .navbar-collapse .nav {
        padding-top: 70px; }
        header .navbar-collapse .nav li,
        .header .navbar-collapse .nav li {
          margin-bottom: 10px; }
          header .navbar-collapse .nav li.lang,
          .header .navbar-collapse .nav li.lang {
            margin-bottom: 50px; }
            header .navbar-collapse .nav li.lang a,
            .header .navbar-collapse .nav li.lang a {
              font-size: 24px; }
          header .navbar-collapse .nav li a,
          .header .navbar-collapse .nav li a {
            font-size: 34px; }
    header .header-title,
    .header .header-title {
      font-size: 30px !important;
      line-height: 40px !important;
      padding: 0 15px !important;
      width: 100% !important;
      margin-left: 0  !important;
      margin-right: 0  !important; }
    header .navbar .navbar-brand,
    .header .navbar .navbar-brand {
      width: 175px !important;
      margin-left: 15px !important; }
    header .header-button .main-button,
    .header .header-button .main-button {
      padding: 38px 55px !important; }
      header .header-button .main-button:before,
      .header .header-button .main-button:before {
        display: none !important; }
    header .current-currencies .rating,
    .header .current-currencies .rating {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-left: 0 !important; }
  .section {
    overflow: hidden; }
    .section .main-title .bg {
      font-size: 66px; }
    .section .about-service > .title {
      font-size: 60px;
      width: 100%;
      margin-left: 0;
      padding: 0 15px;
      line-height: 48px; }
    .section .about-service .block {
      padding: 45px 15px 25px; }
      .section .about-service .block .icon {
        margin: auto;
        float: none; }
        .section .about-service .block .icon:before {
          display: none; }
      .section .about-service .block .title {
        font-size: 46px;
        text-align: center;
        float: none; }
      .section .about-service .block .text {
        width: 100%;
        text-align: center; }
    .section .exchange {
      padding-top: 500px;
      padding-bottom: 50px; }
      .section .exchange .tables {
        width: 300px;
        left: 0;
        right: 0;
        margin: auto;
        top: 90px; }
        .section .exchange .tables .table1 {
          width: 190px;
          height: 195px;
          left: 10px;
          top: 10px; }
        .section .exchange .tables .table2 {
          width: 190px;
          height: 195px;
          bottom: auto;
          top: 85px;
          left: 102px;
          padding: 50px 10px 0 10px; }
          .section .exchange .tables .table2 .table-line {
            height: 10px;
            -webkit-animation: none !important;
                    animation: none !important;
            margin-bottom: 5px; }
    .section .merchant-tools {
      padding-top: 0;
      padding-bottom: 50px; }
      .section .merchant-tools:before {
        width: 100%;
        height: 100%;
        top: -250px;
        position: absolute;
        bottom: auto;
        left: auto;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg); }
      .section .merchant-tools .container {
        padding-top: 400px; }
      .section .merchant-tools .cube {
        width: 280px;
        height: 250px;
        right: 0;
        left: -37px;
        top: -515px;
        margin: auto;
        -webkit-animation: none;
                animation: none; }
        .section .merchant-tools .cube .center-icon {
          left: 53px;
          top: 25px; }
    .section .oklink-network {
      padding-top: 400px;
      padding-bottom: 50px; }
      .section .oklink-network .circles {
        width: 280px;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        height: 300px; }
        .section .oklink-network .circles .center-icon {
          background-size: 125px; }
    .section .developers-api {
      padding-top: 400px;
      padding-bottom: 50px; }
      .section .developers-api .api-icon {
        width: 240px;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        height: 290px; }
    .section .corporate-client {
      padding-top: 0;
      padding-bottom: 50px; }
      .section .corporate-client:before {
        width: 100%;
        height: 100%;
        top: -250px;
        position: absolute;
        bottom: auto;
        left: auto;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); }
      .section .corporate-client .circle-parallax,
      .section .corporate-client .lines-parallax {
        display: none; }
      .section .corporate-client .fingerprint {
        left: 0;
        right: 0;
        width: 220px;
        height: 220px;
        top: -490px; }
        .section .corporate-client .fingerprint .checked {
          width: 80px;
          height: 70px; }
      .section .corporate-client .container {
        padding-top: 400px; }
    .section .become-payyex {
      padding-top: 50px; }
      .section .become-payyex .title {
        font-size: 30px; }
      .section .become-payyex .text {
        float: left;
        margin-bottom: 30px; }
  footer {
    text-align: center; }
    footer .logotype {
      width: 250px; }
    footer .links {
      margin-top: 70px; } }

@-moz-document url-prefix() {
  .section .developers-api .api-icon #top-cross,
  .section .developers-api .api-icon #bottom-cross {
    animation: none; } }

@media not all and (min-resolution: 0.001dpcm) {
  .section .developers-api .api-icon #top-cross,
  .section .developers-api .api-icon #bottom-cross {
    -webkit-animation: none;
            animation: none; } }
