/* CSS3 calc() function to perform calculations */
@media screen and (min-width: 1681px) {
  .section {
    min-height: 1080px; }
    .section .exchange {
      padding: 384px 0; }
      .section .exchange .tables {
        left: 195px; }
    .section .oklink-network {
      padding: 382px 0; }
      .section .oklink-network .circles {
        left: 195px;
        top: 230px; }
    .section .merchant-tools .line-top {
      width: 29%; }
    .section .merchant-tools .line-bottom {
      width: 39%;
      bottom: 30px;
      height: 440px; }
    .section .developers-api {
      padding: 412px 0; }
      .section .developers-api .api-icon {
        right: 235px; }
    .section .corporate-client {
      padding: 387px 0; }
      .section .corporate-client.fingerprint-checked-1:after {
        height: 1600px; }
      .section .corporate-client .fingerprint {
        left: 90px; }
      .section .corporate-client .circle-parallax {
        left: 840px; }
    .section .cube {
      right: 110px;
      top: -40px; }
    .section .become-payyex {
      padding: 245px 0; }
  footer {
    padding: 155px 0 75px; } }

@media screen and (min-width: 1400px) and (max-width: 1680px) {
  .section .exchange {
    padding: 384px 0; }
    .section .exchange .tables {
      left: 35px; }
  .section .merchant-tools .line-top {
    width: 29%;
    top: 30px; }
  .section .merchant-tools .line-bottom {
    width: 38%;
    bottom: 20px; }
  .section .oklink-network {
    padding: 382px 0; }
    .section .oklink-network .circles {
      left: 15px; }
  .section .corporate-client {
    padding: 387px 0; }
    .section .corporate-client .fingerprint {
      left: 50px;
      width: 400px;
      height: 410px; }
  .section .developers-api {
    padding: 412px 0; }
  .section .become-payyex {
    padding: 245px 0; }
    .section .become-payyex .rocket-block {
      left: -150px; } }

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .section .exchange .tables {
    left: -95px;
    top: 110px; }
  .section .merchant-tools:before {
    width: 46%; }
  .section .merchant-tools .line-top {
    width: 33%;
    top: 70px; }
  .section .merchant-tools .line-bottom {
    width: 44%; }
  .section .oklink-network .circles {
    left: -95px;
    top: 150px; }
  .section .developers-api .api-icon {
    right: 85px; }
  .section .corporate-client:before {
    width: 46%; }
  .section .corporate-client .fingerprint {
    width: 450px;
    height: 450px; }
  .section .become-payyex .rocket-block {
    left: -150px; } }

@media screen and (max-width: 1199px) {
  .section .main-title .bg {
    font-size: 90px; }
  .section .main-title .title {
    bottom: 25px; }
  .section .about-service {
    background: #e8f5ff; }
    .section .about-service > .title {
      color: #0166f1;
      opacity: .10;
      margin-left: 30px; }
    .section .about-service .subtitle {
      width: 100%;
      margin-top: -90px;
      margin-bottom: 50px; }
    .section .about-service .block {
      padding: 50px;
      margin-bottom: 15px; }
      .section .about-service .block:before, .section .about-service .block:after {
        content: '';
        display: table; }
      .section .about-service .block:after {
        clear: both; }
      .section .about-service .block:hover .icon:before {
        background-image: url("../images/icons/cirlce-orange.png"); }
      .section .about-service .block .icon {
        float: left;
        margin-top: 20px;
        margin-right: 150px;
        margin-bottom: 0;
        position: relative; }
        .section .about-service .block .icon:before {
          content: '';
          background-image: url("../images/icons/circle-blue.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          width: 30px;
          height: 30px;
          position: absolute;
          right: -95px;
          top: 5px;
          transition: 0.2s ease-in; }
      .section .about-service .block .title {
        float: left; }
      .section .about-service .block .text {
        float: left;
        width: 360px;
        text-align: left;
        margin-top: 25px; }
  .section .exchange .tables {
    left: -175px; }
  .section .merchant-tools:before {
    width: 46%; }
  .section .merchant-tools .cube {
    width: 430px;
    height: 430px;
    right: 10px; }
    .section .merchant-tools .cube .dot {
      display: none; }
    .section .merchant-tools .cube .center-icon {
      left: 78px; }
  .section .merchant-tools .line-top {
    display: none; }
  .section .merchant-tools .line-bottom {
    display: none; }
  .section .oklink-network .circles {
    left: -225px; }
  .section .developers-api .api-icon {
    right: -115px; }
  .section .corporate-client:before {
    width: 46%; }
  .section .corporate-client .fingerprint {
    left: 30px;
    width: 350px;
    height: 350px; }
  .section .corporate-client .fingerprint-checked-1:after {
    height: 1100px;
    width: 900px; }
  .section .become-payyex .title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 70px; }
  .section .become-payyex .rocket-block {
    display: none; } }

@media screen and (max-width: 991px) {
  header,
  .header {
    min-height: initial; }
    header .current-currencies .owl-nav,
    .header .current-currencies .owl-nav {
      top: 113px;
      height: 225px; }
  .section .main-title .bg {
    font-size: 84px; }
  .section .about-service .block {
    padding-right: 15px; }
    .section .about-service .block .icon {
      margin-right: 110px; }
      .section .about-service .block .icon:before {
        right: -75px; }
    .section .about-service .block .text {
      width: 355px; }
  .section .exchange .tables {
    left: -305px; }
  .section .merchant-tools .cube {
    width: 340px;
    height: 340px;
    right: 5px; }
    .section .merchant-tools .cube .center-icon {
      width: 55px;
      height: 55px;
      left: 65px; }
  .section .oklink-network .circles {
    left: -285px; }
  .section .developers-api .api-icon {
    right: -185px; }
  .section .corporate-client:after {
    display: none !important; }
  .section .corporate-client .fingerprint {
    left: -30px;
    width: 320px;
    height: 320px; }
  .section .corporate-client .circle-parallax {
    left: 360px;
    bottom: 60px; } }

@media screen and (max-width: 767px) {
  header,
  .header {
    height: 1000px !important; }
    header .navbar-collapse,
    .header .navbar-collapse {
      padding: 0;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      overflow-y: visible; }
      header .navbar-collapse:before,
      .header .navbar-collapse:before {
        z-index: 3;
        bottom: -20px;
        height: 100px; }
      header .navbar-collapse.collapse,
      .header .navbar-collapse.collapse {
        height: 600px !important; }
      header .navbar-collapse .menu,
      .header .navbar-collapse .menu {
        z-index: 4;
        bottom: 30px; }
      header .navbar-collapse .nav,
      .header .navbar-collapse .nav {
        padding-top: 70px; }
        header .navbar-collapse .nav li,
        .header .navbar-collapse .nav li {
          margin-bottom: 10px; }
          header .navbar-collapse .nav li.lang,
          .header .navbar-collapse .nav li.lang {
            margin-bottom: 50px; }
            header .navbar-collapse .nav li.lang a,
            .header .navbar-collapse .nav li.lang a {
              font-size: 24px; }
          header .navbar-collapse .nav li a,
          .header .navbar-collapse .nav li a {
            font-size: 34px; }
    header .header-title,
    .header .header-title {
      font-size: 30px !important;
      line-height: 40px !important;
      padding: 0 15px !important;
      width: 100% !important;
      margin-left: 0  !important;
      margin-right: 0  !important; }
    header .navbar .navbar-brand,
    .header .navbar .navbar-brand {
      width: 175px !important;
      margin-left: 15px !important; }
    header .header-button .main-button,
    .header .header-button .main-button {
      padding: 38px 55px !important; }
      header .header-button .main-button:before,
      .header .header-button .main-button:before {
        display: none !important; }
    header .current-currencies .rating,
    .header .current-currencies .rating {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding-left: 0 !important; }
  .section {
    overflow: hidden; }
    .section .main-title .bg {
      font-size: 66px; }
    .section .about-service > .title {
      font-size: 60px;
      width: 100%;
      margin-left: 0;
      padding: 0 15px;
      line-height: 48px; }
    .section .about-service .block {
      padding: 45px 15px 25px; }
      .section .about-service .block .icon {
        margin: auto;
        float: none; }
        .section .about-service .block .icon:before {
          display: none; }
      .section .about-service .block .title {
        font-size: 46px;
        text-align: center;
        float: none; }
      .section .about-service .block .text {
        width: 100%;
        text-align: center; }
    .section .exchange {
      padding-top: 500px;
      padding-bottom: 50px; }
      .section .exchange .tables {
        width: 300px;
        left: 0;
        right: 0;
        margin: auto;
        top: 90px; }
        .section .exchange .tables .table1 {
          width: 190px;
          height: 195px;
          left: 10px;
          top: 10px; }
        .section .exchange .tables .table2 {
          width: 190px;
          height: 195px;
          bottom: auto;
          top: 85px;
          left: 102px;
          padding: 50px 10px 0 10px; }
          .section .exchange .tables .table2 .table-line {
            height: 10px;
            -webkit-animation: none !important;
                    animation: none !important;
            margin-bottom: 5px; }
    .section .merchant-tools {
      padding-top: 0;
      padding-bottom: 50px; }
      .section .merchant-tools:before {
        width: 100%;
        height: 100%;
        top: -250px;
        position: absolute;
        bottom: auto;
        left: auto;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg); }
      .section .merchant-tools .container {
        padding-top: 400px; }
      .section .merchant-tools .cube {
        width: 280px;
        height: 250px;
        right: 0;
        left: -37px;
        top: -515px;
        margin: auto;
        -webkit-animation: none;
                animation: none; }
        .section .merchant-tools .cube .center-icon {
          left: 53px;
          top: 25px; }
    .section .oklink-network {
      padding-top: 400px;
      padding-bottom: 50px; }
      .section .oklink-network .circles {
        width: 280px;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        height: 300px; }
        .section .oklink-network .circles .center-icon {
          background-size: 125px; }
    .section .developers-api {
      padding-top: 400px;
      padding-bottom: 50px; }
      .section .developers-api .api-icon {
        width: 240px;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        height: 290px; }
    .section .corporate-client {
      padding-top: 0;
      padding-bottom: 50px; }
      .section .corporate-client:before {
        width: 100%;
        height: 100%;
        top: -250px;
        position: absolute;
        bottom: auto;
        left: auto;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg); }
      .section .corporate-client .circle-parallax,
      .section .corporate-client .lines-parallax {
        display: none; }
      .section .corporate-client .fingerprint {
        left: 0;
        right: 0;
        width: 220px;
        height: 220px;
        top: -490px; }
        .section .corporate-client .fingerprint .checked {
          width: 80px;
          height: 70px; }
      .section .corporate-client .container {
        padding-top: 400px; }
    .section .become-payyex {
      padding-top: 50px; }
      .section .become-payyex .title {
        font-size: 30px; }
      .section .become-payyex .text {
        float: left;
        margin-bottom: 30px; }
  footer {
    text-align: center; }
    footer .logotype {
      width: 250px; }
    footer .links {
      margin-top: 70px; } }
