// IE console.log fix
script(src='assets/plugins/consoleFix.js', type='text/javascript')
// jQuery
script(src='assets/plugins/jquery/dist/jquery.min.js', type='text/javascript')
// IE fix placeholders in inputs and textarea
script(src='assets/plugins/placeholder.js', type='text/javascript')
// Main Plugins
script(src='assets/plugins/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
script(src='assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js', type='text/javascript')
script(src='assets/plugins/modernizr.js', type='text/javascript')
script(src='assets/plugins/jquery.mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js', type='text/javascript')
script(src='assets/plugins/owl.carousel/dist/owl.carousel.min.js', type='text/javascript')
script(src='assets/plugins/bootstrap-validator/dist/validator.min.js', type='text/javascript')
script(src='assets/plugins/matchHeight/dist/jquery.matchHeight-min.js', type='text/javascript')
script(src='assets/plugins/inputmask/jquery.inputmask.bundle.min.js', type='text/javascript')
script(src='assets/plugins/semantic-ui-sticky/sticky.min.js', type='text/javascript')
script(src='assets/plugins/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js', type='text/javascript')
script(src='js/app.js', type='text/javascript')