extends layouts/_default

block vars
	- page = { name: 'homepage', classes: '', title: 'Homepage' }

block header
	include partials/_header

block main
	include pages/index/_main

block footer
	include partials/_footer
