.section
	.about-service
		.title
			span about the service
		.container.mt-xs-250
			.row
				.col-sm-6.col-sm-offset-6
					.subtitle
						span The user interface of Payyex addresses the  needs of both newcomers and professional traders.
				.col-lg-4.col-xs-12
					.block
						.icon
							include ../../../images/icons/browser-black.svg
						.title
							span Easy to use
						.text
							span The user interface of Payyex addresses the needs of both newcomers and professional traders.
				.col-lg-4.col-xs-12
					.block
						.icon
							include ../../../images/icons/handshake-black.svg
						.title
							span Versatile
						.text
							span The user interface of Payyex addresses the needs of both newcomers and professional traders.
				.col-lg-4.col-xs-12
					.block
						.icon
							include ../../../images/icons/server-black.svg
						.title
							span Secure
						.text
							span The user interface of Payyex addresses the needs of both newcomers and professional traders.
.section
	#exchange-info.product-info.right
		.bg
		.wrapper
			.image
				img(src='./images/modal-image.jpg', alt='image')
			.info.ui.sticky
				h2 Title
				p Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies
				a(href='javascript:void(0)').close.bg-darken-color
					.line
					.line
	.exchange
		.tables
			.lines
				include ../../../images/animations/section1/color-lines.svg
			.table1(style='background-image: url("./images/animations/section1/table1.svg")')
			.table2(style='background-image: url("./images/animations/section1/table2.svg")')
				.table-line.table-line1(style='background-image: url("./images/animations/section1/table-line1.svg")')
				.table-line.table-line2(style='background-image: url("./images/animations/section1/table-line2.svg")')
				.table-line.table-line3(style='background-image: url("./images/animations/section1/table-line3.svg")')
				.table-line.table-line4(style='background-image: url("./images/animations/section1/table-line4.svg")')
				.table-line.table-line5(style='background-image: url("./images/animations/section1/table-line5.svg")')
				.table-line.table-line6(style='background-image: url("./images/animations/section1/table-line6.svg")')
				.table-line.table-line7(style='background-image: url("./images/animations/section1/table-line7.svg")')
				.table-line.table-line8(style='background-image: url("./images/animations/section1/table-line8.svg")')
				.table-line.table-line9(style='background-image: url("./images/animations/section1/table-line9.svg")')
		.container
			.row
				.col-sm-6.col-sm-offset-6
					.main-title
						span.bg Simple
						span.title exchange
					.main-subtitle
						span Exchange cryptocurrencies seamlessly with Payyex! We have two interfaces; one is for easy buying and selling, and the other one is for professional traders.
					a.learn-more.main-button.mt-80.mt-xs-40(href='javascript:void(0)', data-id='exchange-info') Learn More
.section
	#merchant-tools-info.product-info.left
		.bg
		.wrapper
			.image
				img(src='./images/modal-image.jpg', alt='image')
			.info.ui.sticky
				a(href='javascript:void(0)').close.bg-darken-color
					.line
					.line
				h2 Title
				p Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies
	.merchant-tools
		.line-top
		.line-bottom
		.cube(style='background-image: url("./images/animations/section2/cube-axis.svg")')
			.center-icon(style='background-image: url("./images/animations/section2/cube-center.svg")')
			.dot.dot1
			.dot.dot2
			.dot.dot3
			.dot.dot4
			.dot.dot5
			.dot.dot6
			.dot.dot7
			.dot.dot8
			.dot.dot9
		.container
			.row
				.col-sm-6
					.main-title
						span.bg Powerful
						span.title merchant tools
					.main-subtitle
						span With Payyex's merchant tools, you may easily accept Bitcoin payments in your online store. Get registered for more information.
					a.learn-more.main-button.mt-45(href='javascript:void(0)', data-id='merchant-tools-info') Learn More
.section
	#oklink-network-info.product-info.right
		.bg
		.wrapper
			.image
				img(src='./images/modal-image.jpg', alt='image')
			.info.ui.sticky
				h2 Title
				p Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies
				a(href='javascript:void(0)').close.bg-darken-color
					.line
					.line
	.oklink-network
		.circles
			.circle.circle1(style='background-image: url("./images/animations/section3/circle3.svg")')
			.circle.circle2(style='background-image: url("./images/animations/section3/circle2.svg")')
			.circle.circle3(style='background-image: url("./images/animations/section3/circle1.svg")')
			.center-icon(style='background-image: url("./images/animations/section3/center-icon.svg")')
		.container
			.row
				.col-sm-6.col-sm-offset-6
					.main-title
						span.bg futured
						span.title OKLink Network
					.main-subtitle
						span Payyex is a member of OKLink network, so you can transfer money abroad more easily than ever. OKLink infrastructure lets the funds be transferred accross countries in the form of BTC, and the Bitcoins are converted to fiat in the destination country. Say good bye to hefty SWIFT fees!
					a.learn-more.main-button.mt-25(href='javascript:void(0)', data-id='oklink-network-info') Learn More
.section
	#developers-api-info.product-info.left
		.bg
		.wrapper
			.image
				img(src='./images/modal-image.jpg', alt='image')
			.info.ui.sticky
				h2 Title
				p Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies
				a(href='javascript:void(0)').close.bg-darken-color
					.line
					.line
	.developers-api
		.api-icon
			include ../../../images/animations/section4/api.svg
		.container
			.row
				.col-sm-6
					.main-title
						span.bg muscle
						span.title API for Developers
					.main-subtitle
						span Go ahead and explore our advanced API - best for algorithm traders! Our API support is so rich that you can even build your own Payyex client.
					a.learn-more.main-button.mt-25(href='javascript:void(0)', data-id='developers-api-info') Learn More
.section
	#corporate-client-info.product-info.right
		.bg
		.wrapper
			.image
				img(src='./images/modal-image.jpg', alt='image')
			.info.ui.sticky
				h2 Title
				p Our brand has been designed mainly for virtual reality games – where a player simulates diving to the bottom of an ocean or slaying lifelike enemies
				a(href='javascript:void(0)').close.bg-darken-color
					.line
					.line
	.corporate-client
		.fingerprint
			include ../../../images/animations/section5/fingerprint.svg
			.checked(style='background-image: url("./images/animations/section5/checked.svg")')
		.circle-parallax#circle-parallax
		.lines-parallax#lines-parallax
		.container
			.row
				.col-sm-6.col-sm-offset-6
					.main-title
						span.bg exclusive
						span.title Corporate Client Services
					.main-subtitle
						span If you want to trade with large sums on behalf of your company, we have exlusive offers for corporate clients. See the information page for more.
					a.learn-more.main-button.mt-25(href='javascript:void(0)', data-id='corporate-client-info') Learn More
.section
	.become-payyex
		form#becomePayyex(data-toggle='validator', role='form')
			.rocket-block
				.rocket(style='background-image: url("./images/animations/section6/rocket.svg")')
				.rocket-way(style='background-image: url("./images/animations/section6/rocket-way.svg")')
				.stars(style='background-image: url("./images/animations/section6/stars.png")')
				.planet-earth(style='background-image: url("./images/animations/section6/planet-earth.svg")')
				.planet-moons(style='background-image: url("./images/animations/section6/planet-moons.svg")')
				.planet-saturn(style='background-image: url("./images/animations/section6/planet-saturn.svg")')
			.container
				.row
					.col-lg-4.col-xs-12
						.title
							span
								b Become a Payyex
					.col-lg-4.col-sm-6
						.text
							span
								b [DEMO CONTENT]
								|
								| Our solution opens a new market of clients for exchanges and stores, turning them into crypto currency locations by giving the possibility to feature crypto coins.
						.form-wrap
							.form-group.has-feedback(data-input='1')
								label.control-label(for='companyName') Company Name
								.input-group
									input#companyName.form-control(type='text', placeholder='Company Name Ltd.', required)
								span.result-icon.form-control-feedback
							.form-group.has-feedback(data-input='2')
								label.control-label(for='cityName') City
								.input-group
									input#cityName.form-control(type='text', placeholder='New York', required)
								span.result-icon.form-control-feedback
							.form-group.has-feedback(data-input='3')
								label.control-label(for='email') Email
								.input-group
									input#email.form-control(type='email', placeholder='John.doe@example.com', required)
								span.result-icon.form-control-feedback
					.col-lg-4.col-sm-6
						.text
							span
								b [DEMO CONTENT]
								|
								| The enrollment is free of charge. To get more details please fill the following form and one of our representatives will contact you once we receive your request.
						.form-wrap
							.form-group.has-feedback(data-input='4')
								label.control-label(for='userName') Name
								.input-group
									input#userName.form-control(type='text', placeholder='John Doe', required)
								span.result-icon.form-control-feedback
							.form-group.has-feedback(data-input='5')
								label.control-label(for='userCountry') Country
								.input-group
									input#userCountry.form-control(type='text', placeholder='United States of America', required)
								span.result-icon.form-control-feedback
							.form-group.has-feedback(data-input='6')
								label.control-label(for='userPhone') Phone
								.input-group
									input#userPhone.form-control(type='text', placeholder='+1 321 123 456', required)
								span.result-icon.form-control-feedback
					.col-sm-4.col-sm-offset-4.mt-60.text-left.text-center-md
						.form-group
							button.main-button(type='submit') Send