doctype html
//- Global variables
- var page
block vars
//- Template
html(lang="en")
	head
		include ../partials/_head
	body
		div(class='main-wrapper ' + page.classes)
		block header
		main
			block main
		block footer