///**
//  * Firefox fixes
//  **/
//
//.firefox
//  #banner-slider
//    .owl-controls
//      .owl-pagination
//        .owl-page
//          span
//            margin-top: -20px
//
//@media (max-width: 480px)
//  .firefox
//    #banner-slider
//      .owl-controls
//        .owl-pagination
//          .owl-page
//            span
//              margin-top: -17px
//
///**
//  * IE10 Fixes
//  **/
//
//.ie9, .ie10, .ie11
//  .cd-product
//    height: auto
//    padding-bottom: 100px
//    .cd-product-mockup
//      transform: translateX(0)
//      &:before
//        transform: translateZ(-100px) translateX(226px) translateY(216px)
//    .cd-single-point
//      display: block
//      +crossBrowser(transform, scale(1))
//      animation: cd-bounce 0.4s
@-moz-document url-prefix() {
  .section {
    .developers-api {
      .api-icon {
        #top-cross,
        #bottom-cross {
          animation: none;
        }
      }
    }
  }
}
@media not all and (min-resolution:.001dpcm) {
  .section {
    .developers-api {
      .api-icon {
        #top-cross,
        #bottom-cross {
          animation: none;
        }
      }
    }
  }
}
