/* Default settings */
body {
  font-family: $rubik;
  font-size: 14px;
  font-weight: 400;
  color: $black;
  background-color: $white;
  overflow-x: hidden;
}

a {
  color: $white;
  @include crossBrowser(transition, .2s ease-in);
  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }
  &.main-button {
    display: inline-block;
    background: $blue;
    color: $white;
    font-size: 18px;
    font-family: $rubik;
    font-weight: 600;
    border-radius: 5px;
    padding: 16px 50px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 121, 220, 0.2);
    &:hover {
      background: $orange;
      text-decoration: none;
    }
    &:focus {
      background: $light-blue;
    }
  }
}
button {
  @include crossBrowser(transition, .2s ease-in);
  &.main-button {
    display: inline-block;
    background: $blue;
    border: 0;
    color: $white;
    font-size: 24px;
    font-family: $rubik;
    font-weight: 600;
    border-radius: 5px;
    padding: 32px 98px;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 121, 220, 0.2);
    text-transform: uppercase;
    &:before {
      content: '';
      background: url('../images/icons/arrow-white.svg') 50% 50% no-repeat;
      display: block;
      position: absolute;
      opacity: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 60px;
      height: 48px;
      right: 100px;
      @include crossBrowser(transform, rotate(-90deg));
      @include crossBrowser(transition, .2s ease-in);
    }
    &:hover {
      background: $orange;
      text-decoration: none;
      padding-left: 60px;
      padding-right: 136px;
      &:before {
        right: 40px;
        opacity: 1;
      }
    }
    &:focus {
      background: $light-blue;
    }
  }
}

b {
  font-family: $rubik;
  font-weight: 700;
}

svg {
  @include crossBrowser(transition, .2s ease-in);
  path,
  rect {
    @include crossBrowser(transition, .2s ease-in);
  }
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 200;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.black {
  font-weight: 900;
}

.or-line {
  /* no selection */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  .or {
    position: absolute;
    background: $white;
    color: #ccc;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    line-height: 12px;
    width: 20px;
    height: 15px;
    display: block;
  }
  hr {
    border-color: #ccc;
  }
}

.flex-vertical-center {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.form-group {
  .control-label {
    color: #000;
  }
  .form-control {
    border-color: #dadada;
    box-shadow: none;
    &:focus {
      box-shadow: 0 0 6px rgba(131, 197, 80, 0.5);
    }
  }
  &.has-error {
    .control-label {
      color: #ff0000;
    }
    .form-control {
      border-color: #ff0000;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgba(222, 22, 19, 0.5);
      }
    }
  }
}

.fromTopIn {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}

.fromBottomIn,.fromTopOut {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease
}

.fromTopOut {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(0,-10px);
  -moz-transform: translate(0,-10px);
  -ms-transform: translate(0,-10px);
  -o-transform: translate(0,-10px);
  transform: translate(0,-10px);
  opacity: 0
}

.fromBottomIn {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}

.fromBottomOut,.fromLeftIn {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease
}

.fromBottomOut {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(0,10px);
  -moz-transform: translate(0,10px);
  -ms-transform: translate(0,10px);
  -o-transform: translate(0,10px);
  transform: translate(0,10px);
  opacity: 0
}

.fromLeftIn {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}

.fromLeftOut,.fromRightIn {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease
}

.fromLeftOut {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(-10px,0);
  -moz-transform: translate(-10px,0);
  -ms-transform: translate(-10px,0);
  -o-transform: translate(-10px,0);
  transform: translate(-10px,0);
  opacity: 0
}

.fromRightIn {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}

.fromRightOut,.scaleUpIn {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease
}

.fromRightOut {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: translate(10px,0);
  -moz-transform: translate(10px,0);
  -ms-transform: translate(10px,0);
  -o-transform: translate(10px,0);
  transform: translate(10px,0);
  opacity: 0
}

.scaleUpIn {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
  opacity: 1
}

.scaleDownIn,.scaleUpOut {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease
}

.scaleUpOut {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: scale(1.3,1.3);
  -moz-transform: scale(1.3,1.3);
  -ms-transform: scale(1.3,1.3);
  -o-transform: scale(1.3,1.3);
  transform: scale(1.3,1.3);
  opacity: 0
}

.scaleDownIn {
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: scale(1,1);
  -moz-transform: scale(1,1);
  -ms-transform: scale(1,1);
  -o-transform: scale(1,1);
  transform: scale(1,1);
  opacity: 1
}

.scaleDownOut {
  -webkit-transition: opacity 1s ease,-webkit-transform 1s ease;
  -moz-transition: transform 1s ease,opacity 1s ease,-moz-transform 1s ease;
  -o-transition: transform 1s ease,opacity 1s ease,-o-transform 1s ease;
  transition: transform 1s ease,opacity 1s ease;
  transition: transform 1s ease,opacity 1s ease,-webkit-transform 1s ease,-moz-transform 1s ease,-o-transform 1s ease;
  -webkit-transform: scale(.7,.7);
  -moz-transform: scale(.7,.7);
  -ms-transform: scale(.7,.7);
  -o-transform: scale(.7,.7);
  transform: scale(.7,.7);
  opacity: 0
}

.section {
  //height: 100vh;
  .main-title {
    position: relative;
    line-height: 0;
    @include clearfix();
    .bg {
      font-size: 114px;
      font-family: $rubik;
      font-weight: 100;
      color: #ebebeb;
      text-transform: lowercase;
    }
    .title {
      font-size: 46px;
      line-height: 50px;
      font-family: $rubik;
      font-weight: 600;
      color: $black;
      //position: absolute;
      //z-index: 1;
      //bottom: 20px;
      //left: 2px;
      position: relative;
      z-index: 1;
      bottom: 32px;
      left: 2px;
      float: left;
    }
  }
  .main-subtitle {
    font-size: 18px;
    font-family: $rubik;
    font-weight: 600;
    line-height: 30px;
  }
}
