// Footer
footer,
.footer {
  padding: 60px 0 75px;
  background: $blue;
  .logotype {
    display: block;
    width: 315px;
    margin: 0 auto 80px;
    img {
      display: block;
      width: 100%;
    }
  }
  .info {
    font-size: 20px;
    line-height: 40px;
    color: $white;
    a {
      text-decoration: underline;
    }
  }
  .links {
    list-style: none;
    padding-left: 0;
    li {
      a {
        font-size: 20px;
        line-height: 40px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .arrow-up {
    display: block;
    width: 95px;
    margin: 20px auto;
    @include crossBrowser(transform, rotate(180deg));
    svg {
      width: 100%;
    }
    &:hover {
      svg {
        @include crossBrowser(transform, translateY(20px));
        path {
          fill: $orange;
        }
      }
    }
  }
  .developer {
    font-size: 14px;
    opacity: .25;
    color: $white;
    text-align: center;
  }
}