// Header
header,
.header {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  position: relative;
  overflow: hidden;
  min-height: 1040px;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../images/video-poster.png') no-repeat;
    background-size: cover;
  }
  .navbar {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 40px 0;
    .navbar-brand {
      padding: 0;
      width: 235px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
      }
    }
    .navbar-nav {
      li {
        a {
          color: $white;
          background: 0 0;
          font-size: 18px;
          font-family: $rubik;
          font-weight: 300;
          padding: 15px 12px;
          &:hover {
            color: $orange;
            background: 0 0;
            text-decoration: underline;
          }
          &.main-button {
            background: $blue;
            color: $white;
            font-family: $rubik;
            font-weight: 700;
            border-radius: 3px;
            padding: 15px 25px;
            margin-left: 12px;
            position: relative;
            &:before {
              content: '';
              width: 10px;
              height: 15px;
              background: url('../images/icons/arrow-white.svg') 50% 50% no-repeat;
              display: block;
              position: absolute;
              right: 40px;
              top: 0;
              bottom: 0;
              margin: auto;
              @include crossBrowser(transform, rotate(-90deg));
              @include crossBrowser(transition, .2s ease-in);
            }
            &:hover {
              background: $orange;
              padding-left: 15px;
              padding-right: 35px;
              text-decoration: none;
              &:before {
                right: 10px;
                opacity: 1;
              }
            }
            &:focus {
              background: $light-blue;
            }
          }
        }
      }
    }
  }
  .header-info {
    height: calc(100% - 224px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .header-title {
    color: $white;
    text-align: center;
    font-size: 56px;
    line-height: 70px;
    width: 65%;
    margin: auto;
    margin-top: 25vh;
    margin-bottom: 50px;
  }
  .header-button {
    text-align: center;
    padding: 34px 0;
    .main-button {
      padding: 38px 98px;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 24px;
      &:before {
        content: '';
        background: url('../images/icons/arrow-white.svg') 50% 50% no-repeat;
        display: block;
        position: absolute;
        opacity: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 60px;
        height: 48px;
        right: 100px;
        @include crossBrowser(transform, rotate(-90deg));
        @include crossBrowser(transition, .2s ease-in);
      }
      &:hover {
        padding-left: 60px;
        padding-right: 136px;
        &:before {
          right: 40px;
          opacity: 1;
        }
      }
    }
  }
  .current-currencies {
    background: $blue;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    &:before {
      content: '';
      height: 2px;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      background-image: linear-gradient(to right, $orange 40%, rgba(255,255,255,0) 0%);
      background-position: bottom;
      background-size: 24px 2px;
      background-repeat: repeat-x;
    }
    .container {
      position: relative;
    }
    .rating {
      @include clearfix();
      .currency {
        width: 24px;
        float: left;
        display: flex;
        align-items: center;
        height: 32px;
        .image {
          width: 100%;
          img {
            width: 80%;
            margin: auto;
          }
        }
      }
      .values {
        float: left;
        margin-left: 10px;
        max-height: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price-currency {
          color: $white;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          .price {
            font-size: 18px;
          }
          .name {
            font-size: 10px;
            font-family: $rubik;
            font-weight: 600;
          }
        }
      }
    }
    .bootstrap-select {
      z-index: 10;
      position: absolute;
      left: 15px;
      top: -17px;
      height: 35px;
      width: 68px !important;
      button {
        background: $orange;
        border: 0;
        font-family: $rubik;
        font-weight: 600;
        height: 100%;
        line-height: 26px;
        .caret {
          margin-top: -1px;
        }
        &:hover {
          background: lighten($orange, 15%);
        }
        &:focus {
          background: lighten($orange, 15%);
          outline: 0 !important;
        }
      }
      .dropdown-menu {
        border: 0;
        & > li {
          & > a {
            padding: 3px 19px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  header,
  .header {
    height: 1180px;
    overflow: hidden;
    .navbar-header {
      float: none;
    }
    .navbar-left,
    .navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border: 0;
      box-shadow: none;
      position: fixed;
      z-index: 100;
      background: $blue;
      width: 100%;
      left: 0;
      top: 0;
      padding-top: 75px;
      padding-bottom: 210px;
      padding-left: 115px;
      &:before {
        content: '';
        background-image: url('../images/mobile-menu-part.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        position: absolute;
        bottom: -109px;
        width: 100%;
        height: 110px;
        left: 0;
      }
      &.collapse {
        display: none !important;
        height: 780px !important;
      }

    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
      & > li {
        float: none;
        & > a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
    .collapse {
      &.in {
        display: block !important;
      }
    }
    .navbar-toggle {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      background: $blue;
      border: 0;
      margin-top: -120px;
      margin-right: -120px;
      width: 240px;
      height: 240px;
      border-radius: 100%;
      @include crossBrowser(transition, .2s ease-in);
      &:hover {
        background: $orange;
        .icon-bar {
          &:before {
            background: $orange;
          }
        }
      }
      .icon-bar {
        background: $white;
        position: absolute;
        top: 0;
        bottom: -85px;
        left: -95px;
        right: 0;
        margin: auto;
        width: 32px;
        height: 6px;
        border-radius: 100px;
        &:nth-child(2) {
          bottom: -105px;
        }
        &:last-child {
          bottom: -125px;
        }
        &:before {
          content: '';
          width: 28px;
          height: 2px;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          background: $blue;
          border-radius: 100px;
          @include crossBrowser(transition, .2s ease-in);
        }
      }
    }
    .main-button {
      &.mobile-button {
        position: absolute;
        right: 150px;
        top: 40px;
        padding: 13px 28px;
        &:hover {
          background: $orange;
        }
        &:focus {
          background: $light-blue;
          outline: 0;
        }
      }
    }
    .navbar-collapse {
      .nav {
        li {
          margin-bottom: 40px;
          &:last-child {
            margin-top: 100px;
          }
          &.lang {
            margin-bottom: 100px;
            a {
              font-size: 36px;
            }
          }
          a {
            font-size: 60px;
          }
        }
      }
      .close {
        position: absolute;
        top: 22px;
        right: 22px;
        opacity: 1;
      }
      .menu {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        width: 76px;
        height: 65px;
        .icon-bar {
          background: $orange;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 76px;
          height: 15px;
          border-radius: 100px;
          &:nth-child(2) {
            margin-top: 25px;
          }
          &:last-child {
            margin-top: 50px;
          }
        }
      }
    }
    .current-currencies {
      &:before {
        left: 0;
        right: 0;
        width: 85%;
        margin: auto;
      }
      .rating {
        padding-left: 35px;
      }
      .owl-nav {
        position: absolute;
        top: 150px;
        bottom: 0;
        left: -25px;
        right: 0;
        margin: auto;
        height: 304px;
        width: calc(100% + 50px);
        .owl-prev,
        .owl-next {
          background: 0;
          position: absolute;
          height: 100%;
          margin: 0;
          padding: 0 28px;
          background: $light-blue;
          img {
            display: block;
            width: 22px;
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
          }
        }
        .owl-prev {
          left: 0;
        }
        .owl-next {
          right: 0;
        }
      }
    }
  }
}