// keyframes
@keyframes colorLinesBlue {
  0% {
    fill: $orange;
  }
  100% {
    fill: $blue;
  }
}
@keyframes colorLinesOrange {
  0% {
    fill: $blue;
  }
  100% {
    fill: $orange;
  }
}
@keyframes moveLineOne {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveLineFive {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveLineSeven {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moveCubeLineTop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px -23px;
  }
}
@keyframes moveCubeLineBottom {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -40px -22px;
  }
}
@keyframes cubeMovement {
  0% {
    @include crossBrowser(transform, translateY(0));
  }
  25% {
    @include crossBrowser(transform, translateY(-15px));
  }
  50% {
    @include crossBrowser(transform, translateY(0));
  }
  75% {
    @include crossBrowser(transform, translateY(15px));
  }
  100% {
    @include crossBrowser(transform, translateY(0));
  }
}
@keyframes oneDotToCenter {
  0% {
    top: 205px;
    left: 88px;
  }
  33% {
    top: 240px;
    left: 155px;
  }
  66% {
    top: 205px;
    left: 222px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes twoDotToCenter {
  0% {
    top: 165px;
    left: 156px;
  }
  50% {
    top: 205px;
    left: 222px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes threeDotToCenter {
  0% {
    top: 125px;
    left: 222px;
  }
  50% {
    top: 205px;
    left: 222px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes fourDotToCenter {
  0% {
    top: 85px;
    left: 290px;
  }
  33% {
    top: 167px;
    left: 290px;
  }
  66% {
    top: 204px;
    left: 357px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes fiveDotToCenter {
  0% {
    top: 125px;
    left: 357px;
  }
  50% {
    top: 205px;
    left: 357px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes sixDotToCenter {
  0% {
    top: 240px;
    left: 425px;
  }
  50% {
    top: 205px;
    left: 357px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes sevenDotToCenter {
  0% {
    top: 285px;
    left: 223px;
  }
  50% {
    top: 322px;
    left: 290px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes eightDotToCenter {
  0% {
    top: 360px;
    left: 223px;
  }
  50% {
    top: 322px;
    left: 290px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes nineDotToCenter {
  0% {
    top: 435px;
    left: 357px;
  }
  33% {
    top: 360px;
    left: 357px;
  }
  66% {
    top: 322px;
    left: 290px;
  }
  100% {
    top: 240px;
    left: 290px;
  }
}
@keyframes cubeCenterScaling {
  0% {
    @include crossBrowser(transform, scale(0.6));
  }
  100% {
    @include crossBrowser(transform, scale(1.1));
  }
}
@keyframes moveCircleBlock {
  0% {
    @include crossBrowser(transform, translateY(0));
  }
  25% {
    @include crossBrowser(transform, translateY(-10px));
  }
  50% {
    @include crossBrowser(transform, translateY(0));
  }
  75% {
    @include crossBrowser(transform, translateY(10px));
  }
  100% {
    @include crossBrowser(transform, translateY(0));
  }
}
@keyframes circle1Rotate {
  0% {
    @include crossBrowser(transform, rotate(0));
  }
  100% {
    @include crossBrowser(transform, rotate(360deg));
  }
}
@keyframes circle2Rotate {
  0% {
    @include crossBrowser(transform, rotate(0));
  }
  100% {
    @include crossBrowser(transform, rotate(-360deg));
  }
}
@keyframes circle3Rotate {
  0% {
    @include crossBrowser(transform, rotate(0));
  }
  100% {
    @include crossBrowser(transform, rotate(360deg));
  }
}
@keyframes apiCrossRotate {
  0% {
    @include crossBrowser(transform, rotate(0));
  }
  100% {
    @include crossBrowser(transform, rotate(360deg));
  }
}
@keyframes apiLine1 {
  0% {
    fill: #000cff;
  }
  50% {
    fill: $white;
  }
  100% {
    fill: #000cff;
  }
}
@keyframes apiLine2 {
  0% {
    fill: #fff;
  }
  50% {
    fill: $orange;
  }
  100% {
    fill: #fff;
  }
}
@keyframes apiLine3 {
  0% {
    fill: $orange;
  }
  50% {
    fill: #000cff;
  }
  100% {
    fill: $orange;
  }
}
@keyframes apiLine4 {
  0% {
    fill: $orange;
  }
  50% {
    fill: #000cff;
  }
  100% {
    fill: $orange;
  }
}
@keyframes apiLine5 {
  0% {
    fill: $white;
  }
  50% {
    fill: $orange;
  }
  100% {
    fill: $white;
  }
}
@keyframes apiLine6 {
  0% {
    fill: #0166f1;
  }
  50% {
    fill: $white;
  }
  100% {
    fill: #0166f1;
  }
}
@keyframes apiLine7 {
  0% {
    fill: $white;
  }
  50% {
    fill: $orange;
  }
  100% {
    fill: $white;
  }
}
@keyframes apiLine8 {
  0% {
    fill: $white;
  }
  50% {
    fill: $orange;
  }
  100% {
    fill: $white;
  }
}
@keyframes apiLine9 {
  0% {
    fill: $orange;
  }
  50% {
    fill: #000cff;
  }
  100% {
    fill: $orange;
  }
}
@keyframes apiLine10 {
  0% {
    fill: $white;
  }
  50% {
    fill: $orange;
  }
  100% {
    fill: $white;
  }
}
@keyframes fingerprintToWhite {
  0% {
    stroke: #0080ff;
  }
  100% {
    stroke: $white;
  }
}
@keyframes fingerprintBgWave {
  0% {
    opacity: 1;
    left: -560px;
  }
  100% {
    opacity: 0;
    left: -460px;
  }
}
@keyframes fingerprintChecked {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}