.section {
  overflow: hidden;
  position: relative;
  & > div {
    position: relative;
  }
  .about-service {
    padding: 75px 0;
    & > .title {
      font-size: 146px;
      line-height: 140px;
      font-family: $rubik;
      font-weight: 700;
      color: #ebebeb;
      width: 740px;
      float: left;
      margin-left: 10%;
    }
    .subtitle {
      font-size: 24px;
      font-family: $rubik;
      font-weight: 600;
      line-height: 36px;
      color: $black;
      width: 510px;
      float: left;
      margin-top: -120px;
      margin-bottom: 120px;
    }
    .block {
      text-align: center;
      padding: 70px 15px;
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      @include crossBrowser(transition, .2s ease-in);
      &:hover {
        background: $blue;
        .icon {
          svg {
            path, rect {
              fill: $white!important;
            }
          }
        }
        .title {
          color: $white;
        }
        .text {
          color: $white;
        }
      }
      .icon {
        width: 190px;
        margin: 0 auto 85px;
        svg {
          path, rect {
            @include crossBrowser(transition, .2s ease-in);
          }
        }
      }
      .title {
        font-family: $rubik;
        font-weight: 700;;
        font-size: 56px;
        @include crossBrowser(transition, .2s ease-in);
      }
      .text {
        margin-top: 55px;
        font-size: 18px;
        line-height: 30px;
        @include crossBrowser(transition, .2s ease-in);
      }
    }
  }
  .exchange {
    padding: 300px 0;
    .tables {
      position: absolute;
      width: 610px;
      height: 592px;
      left: 125px;
      top: 140px;
      .table1 {
        width: 388px;
        height: 400px;
        position: absolute;
        left: 20px;
        top: 20px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .table2 {
        width: 388px;
        height: 400px;
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        padding: 130px 15px 35px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .table-line {
          height: 25px;
          width: 100%;
          background-repeat: no-repeat;
          background-position: 100% 50%;
          background-size: contain;
          &.table-line1 {
            animation: moveLineOne 10s infinite;
          }
          &.table-line5 {
            animation: moveLineFive 10s infinite;
          }
          &.table-line7 {
            animation: moveLineSeven 10s infinite;
          }
        }
      }
      .lines {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        svg {
          path {
            &:nth-child(n) {
              animation: colorLinesBlue .5s infinite;
            }
            &:nth-child(2n) {
              animation: colorLinesOrange .5s infinite;
            }
          }
        }
      }
    }
  }
  .merchant-tools {
    padding: 400px 0;
    &:before {
      content: '';
      background-image: url('../images/blue-bg.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      width: 40%;
    }
    &.animate {
      .cube {
        .center-icon {
          animation: cubeCenterScaling 9s linear forwards 2s;
        }
        .dot {
          &.dot1 {
            animation: oneDotToCenter 2s linear forwards 8s;
          }
          &.dot2 {
            animation: twoDotToCenter 2s linear forwards 7s;
          }
          &.dot3 {
            animation: threeDotToCenter 2s linear forwards 3s;
          }
          &.dot4 {
            animation: fourDotToCenter 2s linear forwards 2s;
          }
          &.dot5 {
            animation: fiveDotToCenter 2s linear forwards 1s;
          }
          &.dot6 {
            animation: sixDotToCenter 2s linear forwards;
          }
          &.dot7 {
            animation: sevenDotToCenter 2s linear forwards 4s;
          }
          &.dot8 {
            animation: eightDotToCenter 2s linear forwards 6s;
          }
          &.dot9 {
            animation: nineDotToCenter 2s linear forwards 5s;
          }
        }
      }
    }
    .line-top {
      background-image: url('../images/animations/section2/line-top.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      position: absolute;
      width: 500px;
      height: 320px;
      top: 10px;
      right: 0;
      animation: moveCubeLineTop linear 1s infinite;
    }
    .line-bottom {
      background-image: url('../images/animations/section2/line-bottom.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      position: absolute;
      width: 640px;
      height: 370px;
      bottom: 10px;
      right: 0;
      animation: moveCubeLineBottom linear 1s infinite;
    }
    .cube {
      width: 500px;
      height: 500px;
      position: absolute;
      right: 70px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-size: contain;
      background-repeat: no-repeat;
      animation: cubeMovement 3s linear infinite;
      @include crossBrowser(transition, transform .3s ease-in);
      .center-icon {
        position: absolute;
        z-index: 1;
        left: 95px;
        right: 0;
        top: -5px;
        bottom: 0;
        margin: auto;
        width: 95px;
        height: 95px;
        @include crossBrowser(transform, scale(0.6));
        @include crossBrowser(transition, .2s ease-in);
      }
      .dot {
        position: absolute;
        width: 16px;
        height: 16px;
        background: $orange;
        border-radius: 100%;
        @include crossBrowser(transition, .2s ease-in);
        &.dot1 {
          top: 205px;
          left: 88px;
        }
        &.dot2 {
          top: 165px;
          left: 156px;
        }
        &.dot3 {
          top: 125px;
          left: 222px;
        }
        &.dot4 {
          top: 85px;
          left: 290px;
        }
        &.dot5 {
          top: 125px;
          left: 357px;
        }
        &.dot6 {
          top: 240px;
          left: 425px;
        }
        &.dot7 {
          top: 285px;
          left: 223px;
        }
        &.dot8 {
          top: 360px;
          left: 223px;
        }
        &.dot9 {
          top: 435px;
          left: 357px;
        }
      }
    }
  }
  .oklink-network {
    padding: 300px 0;
    .circles {
      width: 620px;
      height: 620px;
      border-radius: 100%;
      position: absolute;
      left: 125px;
      top: 140px;
      background-size: contain;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      .circle {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        &.circle1 {
          width: 100%;
          animation: circle1Rotate 7s linear infinite;
        }
        &.circle2 {
          width: 80%;
          left: -5%;
          animation: circle2Rotate 7s linear infinite;
        }
        &.circle3 {
          width: 66%;
          left: -2%;
          animation: circle3Rotate 7s linear infinite;
        }
      }
      .center-icon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 275px;
        background-position: 50% 50%;
        animation: moveCircleBlock 4s linear infinite;
        @include crossBrowser(transition, .2s linear);
      }
    }
  }
  .developers-api {
    padding: 400px 0;
    .api-icon {
      width: 580px;
      height: 700px;
      position: absolute;
      right: 125px;
      top: 100px;
      #top-cross {
        transform-origin: 50%;
        animation: apiCrossRotate 4s linear infinite;
      }
      #bottom-cross {
        transform-origin: 50%;
        animation: apiCrossRotate 4s linear infinite;
      }
      #api-line-1 {
        animation: apiLine1 4s ease-in forwards 1s;
      }
      #api-line-2 {
        animation: apiLine2 4s ease-in infinite;
      }
      #api-line-3 {
        animation: apiLine3 4s ease-in infinite 2s;
      }
      #api-line-4 {
        animation: apiLine4 4s ease-in infinite;
      }
      #api-line-5 {
        animation: apiLine5 4s ease-in infinite 3s;
      }
      #api-line-6 {
        animation: apiLine6 4s ease-in infinite;
      }
      #api-line-7 {
        animation: apiLine7 4s ease-in infinite;
      }
      #api-line-8 {
        animation: apiLine8 4s ease-in infinite 1s;
      }
      #api-line-9 {
        animation: apiLine9 4s ease-in infinite;
      }
      #api-line-10 {
        animation: apiLine10 4s ease-in infinite;
      }
    }
  }
  .corporate-client {
    padding: 300px 0;
    overflow: hidden;
    &.animate {

    }
    &:before {
      content: '';
      background-image: url('../images/orange-bg.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100%;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      width: 40%;
      @include crossBrowser(transition, .2s ease-in);
    }
    &.fingerprint-checked-1 {
      &:before {
        background-image: url('../images/orange-blue-bg.svg');
      }
      &:after {
        content: '';
        background: #0080ff;
        opacity: .5;
        height: 1400px;
        width: 1260px;
        display: block;
        position: absolute;
        z-index: -1;
        left: -560px;
        top: -250px;
        border-radius: 100%;
        animation: fingerprintBgWave 2s linear forwards;
      }
      .fingerprint-svg {
        path {
          stroke: #0080ff;
          animation: fingerprintToWhite 2s linear forwards;
        }
      }
      .fingerprint {
        .checked {
          animation: fingerprintChecked .3s linear forwards 2s;
        }
      }
      .lines-parallax {
        background-image: url('../images/animations/section5/lines-parallax.svg');
      }
      .circle-parallax {
        background-image: url('../images/animations/section5/circle-parallax.svg');
      }
    }
    .fingerprint {
      position: absolute;
      left: 50px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 500px;
      height: 480px;
      .checked {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        width: 250px;
        height: 170px;
        right: 0;
        bottom: 0;
        opacity: 0;
      }
    }
    .circle-parallax {
      width: 68px;
      height: 68px;
      border-radius: 100%;
      position: absolute;
      left: 700px;
      bottom: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url('../images/animations/section5/circle-parallax-blue.svg');
      @include crossBrowser(transition, .2s ease-in);
    }
    .lines-parallax {
      position: absolute;
      width: 150px;
      height: 105px;
      right: 80px;
      top: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      background-image: url('../images/animations/section5/lines-parallax-blue.svg');
      @include crossBrowser(transition, .2s ease-in);
    }
  }
  .become-payyex {
    padding: 220px 0;
    overflow: hidden;
    form {
      position: relative;
      &.rocket-send {
        .rocket-block {
          .rocket {
            opacity: 0;
            @include crossBrowser(transform, translate3d(475px,-485px, 0));
          }
        }
      }
      &.input-valid-1 {
        .rocket-block {
          .planet-earth {
            @include crossBrowser(transform, translate3d(10px, 10px, 0));
          }
          .planet-moons {
            @include crossBrowser(transform, translate3d(-10px, -10px, 0));
          }
          .planet-saturn {
            @include crossBrowser(transform, translate3d(5px, -10px, 0));
          }
        }
      }
      &.input-valid-2 {
        .rocket-block {
          .planet-earth {
            @include crossBrowser(transform, translate3d(5px, -10px, 0));
          }
          .planet-moons {
            @include crossBrowser(transform, translate3d(10px, 10px, 0));
          }
          .planet-saturn {
            @include crossBrowser(transform, translate3d(-10px, -10px, 0));
          }
        }
      }
      &.input-valid-3 {
        .rocket-block {
          .planet-earth {
            @include crossBrowser(transform, translate3d(10px, -10px, 0));
          }
          .planet-moons {
            @include crossBrowser(transform, translate3d(-10px, 5px, 0));
          }
          .planet-saturn {
            @include crossBrowser(transform, translate3d(5px, 5px, 0));
          }
        }
      }
      &.input-valid-4 {
        .rocket-block {
          .planet-earth {
            @include crossBrowser(transform, translate3d(10px, 10px, 0));
          }
          .planet-moons {
            @include crossBrowser(transform, translate3d(-10px, -10px, 0));
          }
          .planet-saturn {
            @include crossBrowser(transform, translate3d(5px, -10px, 0));
          }
        }
      }
      &.input-valid-5 {
        .rocket-block {
          .planet-earth {
            @include crossBrowser(transform, translate3d(0px, 10px, 0));
          }
          .planet-moons {
            @include crossBrowser(transform, translate3d(-10px, 5px, 0));
          }
          .planet-saturn {
            @include crossBrowser(transform, translate3d(15px, -10px, 0));
          }
        }
      }
      &.input-valid-6 {
        .rocket-block {
          .planet-earth {
            @include crossBrowser(transform, translate3d(10px, -10px, 0));
          }
          .planet-moons {
            @include crossBrowser(transform, translate3d(-10px, 15px, 0));
          }
          .planet-saturn {
            @include crossBrowser(transform, translate3d(5px, 5px, 0));
          }
        }
      }
    }
    .title {
      color: #0079dc;
      font-size: 24px;
    }
    .text {
      color: #0079dc;
      font-size: 18px;
      line-height: 30px;
      height: 150px;
      overflow: hidden;
    }
    .form-wrap {
      margin-top: 50px;
    }
    .form-group {
      &.has-error {
        label {
          color: $black;
        }
        input {
          border-bottom-color: #ffb2b2;
          color: #ffb2b2;
          &::-webkit-input-placeholder {
            color: #ffb2b2;
          }
          &::-moz-placeholder {
            color: #ffb2b2;
          }
          &:-ms-input-placeholder {
            color: #ffb2b2;
          }
          &:-moz-placeholder {
            color: #ffb2b2;
          }
        }
      }
      label {
        font-size: 12px;
        font-family: $rubik;
        font-weight: 700;
        text-transform: uppercase;
      }
      .input-group {
        width: 100%;
      }
      input {
        border: 0;
        border-bottom: 1px solid #0079dc;
        color: #0079dc;
        font-family: $opensans;
        font-size: 18px;
        font-weight: 100;
        padding: 0;
        width: 100%;
        box-shadow: none !important;
        &::-webkit-input-placeholder {
          color: #0079dc;
        }
        &::-moz-placeholder {
          color: #0079dc;
        }
        &:-ms-input-placeholder {
          color: #0079dc;
        }
        &:-moz-placeholder {
          color: #0079dc;
        }
      }
      .result-icon {
        position: absolute;
        z-index: 25;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        &.valid {
          background-image: url('../images/icons/valid.png');
        }
        &.invalid {
          background-image: url('../images/icons/invalid.png');
        }
      }
    }
    .rocket-block {
      position: absolute;
      top: 100px;
      left: 0;
      width: 530px;
      height: 710px;
      .rocket {
        position: absolute;
        z-index: 1;
        width: 100px;
        height: 100px;
        top: 60px;
        right: 42px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        @include crossBrowser(transition, 3s ease-in);
      }
      .rocket-way {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .stars {
        position: absolute;
        width: 230px;
        left: 160px;
        top: -50px;
        right: 0;
        margin: auto;
        height: 100%;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .planet-earth {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 0;
        top: 180px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        @include crossBrowser(transition, .2s ease-in);
      }
      .planet-moons {
        position: absolute;
        width: 80px;
        right: 120px;
        top: 320px;
        height: 70px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        @include crossBrowser(transition, .2s ease-in);
      }
      .planet-saturn {
        position: absolute;
        width: 45px;
        height: 35px;
        left: 220px;
        top: 130px;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        @include crossBrowser(transition, .2s ease-in);
      }
    }
  }
}
.product-info {
  //display: flex;
  //align-items: center;
  //justify-content: flex-end;
  position: absolute !important;
  z-index: 100;
  right: 0;
  left: 0;
  width: 100%;
  margin: auto;
  top: 0;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  //overflow-y: auto;
  //box-shadow: -2px 5px 35px 2px rgba(#2196f3, 0.5);
  @include crossBrowser(transition, .2s ease);
  &.open {
    opacity: 1;
    visibility: visible;
    .wrapper {
      //transform: translateX(0);
    }
    //@include crossBrowser(transform, translateX(-380px));
  }
  &.left {
    .wrapper {
      float: left;
    }
  }
  &.right {
    .wrapper {
      float: right;
    }
  }
  .bg {
    background: rgba(0,0,0,0.3);
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  .wrapper {
    background: $blue;
    width: 40%;
    height: 100%;
    float: right;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    //transform: translateX(100%);
    @include crossBrowser(transition, .2s ease);
    //margin: auto;
    @media screen and (max-width: 991px) {
      width: 60%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    .close {
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 10;
      top: -50px;
      right: -30px;
      transition: none;
      display: block;
      background: #1786df;
      width: 60px;
      height: 60px;
      opacity: 1;
      .line {
        position: relative;
        width: 24px;
        height: 2px;
        margin: 4px auto;
        pointer-events: none;
        background: #fff;
        &:first-child {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 25px;
        }
        &:nth-child(2) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 19px;
        }
      }
    }
  }
  .image {
    display: none;
    img {
      width: 100%;
    }
  }
  .info {
    color: #fff;
    padding: 50px 30px 20px 30px;
    max-height: 500px;
    overflow: hidden;
    //position: relative;
    //position: sticky;
    top: 0;
    .mCustomScrollBox,
    .mCSB_container {
      overflow: visible;
    }
    h2 {
      font-size: 32px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 20px;
    }
    p {
      line-height: 30px;
      font-size: 16px;
    }
  }
}
/*!
 * # Semantic UI 2.2.12 - Sticky
 * http://github.com/semantic-org/semantic-ui/
 *
 *
 * Released under the MIT license
 * http://opensource.org/licenses/MIT
 *
 */


/*******************************
            Sticky
*******************************/

.ui.sticky {
  position: static;
  -webkit-transition: none;
  transition: none;
  z-index: 800;
}


/*******************************
            States
*******************************/


/* Bound */
.ui.sticky.bound {
  position: absolute;
  left: auto;
  right: auto;
}

/* Fixed */
.ui.sticky.fixed {
  position: fixed;
  left: auto;
  right: auto;
}

/* Bound/Fixed Position */
.ui.sticky.bound.top,
.ui.sticky.fixed.top {
  top: 0px;
  bottom: auto;
}
.ui.sticky.bound.bottom,
.ui.sticky.fixed.bottom {
  top: auto;
  bottom: 0px;
}


/*******************************
            Types
*******************************/

.ui.native.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
}


/*******************************
         Theme Overrides
*******************************/



/*******************************
         Site Overrides
*******************************/

