@import "mixins";
@media screen and (min-width: 1681px) {
  .section {
    min-height: 1080px;
    .exchange {
      padding: 384px 0;
      .tables {
        left: 195px;
      }
    }
    .oklink-network {
      padding: 382px 0;
      .circles {
        left: 195px;
        top: 230px;
      }
    }
    .merchant-tools {
      .line-top {
        width: 29%;
      }
      .line-bottom {
        width: 39%;
        bottom: 30px;
        height: 440px;
      }
    }
    .developers-api {
      padding: 412px 0;
      .api-icon {
        right: 235px;
      }
    }
    .corporate-client {
      padding: 387px 0;
      &.fingerprint-checked-1 {
        &:after {
          height: 1600px;
        }
      }
      .fingerprint {
        left: 90px;
      }
      .circle-parallax {
        left: 840px;
      }
    }
    .cube {
      right: 110px;
      top: -40px;
    }
    .become-payyex {
      padding: 245px 0;
    }
  }
  footer {
    padding: 155px 0 75px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1680px) {
  .section {
    .exchange {
      padding: 384px 0;
      .tables {
        left: 35px;
      }
    }
    .merchant-tools {
      .line-top {
        width: 29%;
        top: 30px;
      }
      .line-bottom {
        width: 38%;
        bottom: 20px;
      }
    }
    .oklink-network {
      padding: 382px 0;
      .circles {
        left: 15px;
      }
    }
    .corporate-client {
      padding: 387px 0;
      .fingerprint {
        left: 50px;
        width: 400px;
        height: 410px;
      }
    }
    .developers-api {
      padding: 412px 0;
    }
    .become-payyex {
      padding: 245px 0;
      .rocket-block {
        left: -150px;
      }
    }
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .section {
    .exchange {
      .tables {
        left: -95px;
        top: 110px
      }
    }
    .merchant-tools {
      &:before {
        width: 46%;
      }
      .line-top {
        width: 33%;
        top: 70px;
      }
      .line-bottom {
        width: 44%;
      }
    }
    .oklink-network {
      .circles {
        left: -95px;
        top: 150px;
      }
    }
    .developers-api {
      .api-icon {
        right: 85px;
      }
    }
    .corporate-client {
      &:before {
        width: 46%;
      }
      .fingerprint {
        width: 450px;
        height: 450px;
      }
    }
    .become-payyex {
      .rocket-block {
        left: -150px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .section {
    .main-title {
      .bg {
        font-size: 90px;
      }
      .title {
        bottom: 25px;
      }
    }
    .about-service {
      background: #e8f5ff;
      & > .title {
        color: #0166f1;
        opacity: .10;
        margin-left: 30px;
      }
      .subtitle {
        width: 100%;
        margin-top: -90px;
        margin-bottom: 50px;
      }
      .block {
        padding: 50px;
        margin-bottom: 15px;
        @include clearfix();
        &:hover {
          .icon {
            &:before {
              background-image: url('../images/icons/cirlce-orange.png');
            }
          }
        }
        .icon {
          float: left;
          margin-top: 20px;
          margin-right: 150px;
          margin-bottom: 0;
          position: relative;
          &:before {
            content: '';
            background-image: url('../images/icons/circle-blue.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 50%;
            width: 30px;
            height: 30px;
            position: absolute;
            right: -95px;
            top: 5px;
            @include crossBrowser(transition, .2s ease-in);
          }
        }
        .title {
          float: left;
        }
        .text {
          float: left;
          width: 360px;
          text-align: left;
          margin-top: 25px;
        }
      }
    }
    .exchange {
      .tables {
        left: -175px;
      }
    }
    .merchant-tools {
      &:before {
        width: 46%;
      }
      .cube {
        width: 430px;
        height: 430px;
        right: 10px;
        .dot {
          display: none;
        }
        .center-icon {
          left: 78px;
        }
      }
      .line-top {
        display: none;
      }
      .line-bottom {
        display: none;
      }
    }
    .oklink-network {
      .circles {
        left: -225px;
      }
    }
    .developers-api {
      .api-icon {
        right: -115px;
      }
    }
    .corporate-client {
      &:before {
        width: 46%;
      }
      .fingerprint {
        left: 30px;
        width: 350px;
        height: 350px;
      }
      .fingerprint-checked-1 {
        &:after {
          height: 1100px;
          width: 900px;
        }
      }
    }
    .become-payyex {
      .title {
        text-align: center;
        font-size: 40px;
        margin-bottom: 70px;
      }
      .rocket-block {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  header,
  .header {
    min-height: initial;
    .current-currencies {
      .owl-nav {
        top: 113px;
        height: 225px;
      }
    }
  }
  .section {
    .main-title {
      .bg {
        font-size: 84px;
      }
    }
    .about-service {
      .block {
        padding-right: 15px;
        .icon {
          margin-right: 110px;
          &:before {
            right: -75px;
          }
        }
        .text {
          width: 355px;
        }
      }
    }
    .exchange {
      .tables {
        left: -305px;
      }
    }
    .merchant-tools {
      .cube {
        width: 340px;
        height: 340px;
        right: 5px;
        .center-icon {
          width: 55px;
          height: 55px;
          left: 65px;
        }
      }
    }
    .oklink-network {
      .circles {
        left: -285px;
      }
    }
    .developers-api {
      .api-icon {
        right: -185px;
      }
    }
    .corporate-client {
      &:after {
        display: none !important;
      }
      .fingerprint {
        left: -30px;
        width: 320px;
        height: 320px;
      }
      .circle-parallax {
        left: 360px;
        bottom: 60px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  header,
  .header {
    height: 1000px !important;
    .navbar-collapse {
      padding: 0;
      text-align: center;
      left: 0;
      right: 0;
      margin: auto;
      overflow-y: visible;
      &:before {
        z-index: 3;
        bottom: -20px;
        height: 100px;
      }
      &.collapse {
        height: 600px !important;
      }
      .menu {
        z-index: 4;
        bottom: 30px;
      }
      .nav {
        padding-top: 70px;
        li {
          margin-bottom: 10px;
          &.lang {
            margin-bottom: 50px;
            a {
              font-size: 24px;
            }
          }
          a {
            font-size: 34px;
          }
        }
      }
    }
    .header-title {
      font-size: 30px !important;
      line-height: 40px !important;
      padding: 0 15px !important;
      width: 100% !important;
      margin-left: 0  !important;
      margin-right: 0  !important;
    }
    .navbar {
      .navbar-brand {
        width: 175px !important;
        margin-left: 15px !important;
      }
    }
    .header-button {
      .main-button {
        padding: 38px 55px !important;
        &:before {
          display: none !important;
        }
      }
    }
    .current-currencies {
      .rating {
        display: flex;
        justify-content: center;
        padding-left: 0 !important;
      }
    }
  }
  .section {
    overflow: hidden;
    .main-title {
      .bg {
        font-size: 66px;
      }
    }
    .about-service {
      & > .title {
        font-size: 60px;
        width: 100%;
        margin-left: 0;
        padding: 0 15px;
        line-height: 48px;
      }
      .block {
        padding: 45px 15px 25px;
        .icon {
          margin: auto;
          float: none;
          &:before {
            display: none;
          }
        }
        .title {
          font-size: 46px;
          text-align: center;
          float: none;
        }
        .text {
          width: 100%;
          text-align: center;
        }
      }
    }
    .exchange {
      padding-top: 500px;
      padding-bottom: 50px;
      .tables {
        width: 300px;
        left: 0;
        right: 0;
        margin: auto;
        top: 90px;
        .table1 {
          width: 190px;
          height: 195px;
          left: 10px;
          top: 10px
        }
        .table2 {
          width: 190px;
          height: 195px;
          bottom: auto;
          top: 85px;
          left: 102px;
          padding: 50px 10px 0 10px;
          .table-line {
            height: 10px;
            animation: none !important;
            margin-bottom: 5px;
          }
        }
      }
    }
    .merchant-tools {
      padding-top: 0;
      padding-bottom: 50px;
      &:before {
        width: 100%;
        height: 100%;
        top: -250px;
        position: absolute;
        bottom: auto;
        left: auto;
        @include crossBrowser(transform, rotate(-90deg));
      }
      .container {
        padding-top: 400px;
      }
      .cube {
        width: 280px;
        height: 250px;
        right: 0;
        left: -37px;
        top: -515px;
        margin: auto;
        animation: none;
        .center-icon {
          left: 53px;
          top: 25px;
        }
      }
    }
    .oklink-network {
      padding-top: 400px;
      padding-bottom: 50px;
      .circles {
        width: 280px;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        height: 300px;
        .center-icon {
          background-size: 125px;
        }
      }
    }
    .developers-api {
      padding-top: 400px;
      padding-bottom: 50px;
      .api-icon {
        width: 240px;
        top: 30px;
        left: 0;
        right: 0;
        margin: auto;
        height: 290px;
      }
    }
    .corporate-client {
      padding-top: 0;
      padding-bottom: 50px;
      &:before {
        width: 100%;
        height: 100%;
        top: -250px;
        position: absolute;
        bottom: auto;
        left: auto;
        @include crossBrowser(transform, rotate(90deg));
      }
      .circle-parallax,
      .lines-parallax {
        display: none;
      }
      .fingerprint {
        left: 0;
        right: 0;
        width: 220px;
        height: 220px;
        top: -490px;
        .checked {
          width: 80px;
          height: 70px;
        }
      }
      .container {
        padding-top: 400px;
      }
    }
    .become-payyex {
      padding-top: 50px;
      .title {
        font-size: 30px;
      }
      .text {
        float: left;
        margin-bottom: 30px;
      }
    }
  }
  footer {
    text-align: center;
    .logotype {
      width: 250px;
    }
    .links {
      margin-top: 70px;
    }
  }
}